{% extends 'inicial.html' %}
{% load staticfiles %}
{#{% load formset_tags %}#}
{% block content %}


    {% block javascript %}
        <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/basic-upload.js' %}"></script>
    {% endblock %}

    {% include 'core/widgets/messages.html' %}

    <button type="button" class="btn btn-primary js-upload-photos">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>

    <input id="fileupload" type="file" name="path" multiple
           style="display: none;"
           data-method="POST"
           enctype="multipart/form-data"
           data-url="{% url 'ecm_add' '2' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

    <table id="gallery" class="table table-bordered">
        <thead>
        <tr>
            <th>Photo</th>
        </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Enviando ...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
