{% extends 'skeleton/forms/base.html' %}
{% load core_filters form_tags staticfiles bootstrap3 %}


{% block page_title %}

    {% with "ORDEM DE SERVIÇO" as form_name_plural %}
        {% with " " as page_title %}
            {{block.super}}
        {% endwith %}
    {% endwith %}

{% endblock %}

{% block bar_buttons %}
    <a class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light disabled-btn" href="#" id="btn_add">
        Adicionar OS
    </a>
{% endblock %}

{% block content %}
    {% include 'core/widgets/messages.html' %}
    <form id="task_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
            <div class="form-row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Criar ordem de serviço</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row nav-form">
                            <div class="form-group col-sm-4">
                                    <button id="btn_add_folder"
                                            type="button"
                                            class="btn btn-sm-custom btn-raised btn-primary pull-right"
                                            title="Adicionar nova Pasta">
                                        <i class="mdi mdi-plus"></i>
                                    </button>
                                    <span style="font-weight: 500;">Número da pasta / Cliente*</span>
                                    <input class="twitter-typeahead form-control"
                                           type="text"
                                           placeholder="Selecione..."
                                           id="id_folder"
                                           data-url="{% url 'folder_autocomplete' %}"
                                           name="folder"
                                           data-value=""
                                           value=""
                                           data-module="lawsuit.models"
                                           data-model="Folder"
                                           search-field="person_customer"
                                           data-typeahead="true"
                                           data-value-txt=""
                                           data-forward="">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>
                                    <button id="btn_add_lawsuit"
                                            type="button"
                                            class="btn btn-sm-custom btn-raised btn-primary pull-right disabled-btn"
                                            title="Adicionar novo processo">
                                        <i class="mdi mdi-plus"></i>
                                    </button>
                                    Número do processo*
                                </label>
                                <select name="lawsuit"
                                    class="selectpicker"
                                    data-style="form-control"
                                    id="id_lawsuit">
                                        <option value="">Selecione a pasta</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>
                                    <button id="btn_add_movement"
                                            type="button"
                                            class="btn btn-sm-custom btn-raised btn-primary pull-right disabled-btn"
                                            title="Adicionar nova movimentação">
                                        <i class="mdi mdi-plus"></i>
                                    </button>

                                    Movimentação*
                                </label>
                                <select name="movement"
                                    class="selectpicker"
                                    data-style="form-control"
                                    required
                                    id="id_movement">
                                        <option value="">Selecione o processo</option>
                                </select>
                            </div>
                        </div>
                        {% verbatim %}
                        <div class="form-row">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">Providências</h6>
                                </div>
                                <div class="panel-body">
                                    <table class="table" id="app_task_list">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>O.S.</th>
                                                <th>Prazo</th>
                                                <th>Serviço</th>
                                                <th>Processo</th>
                                                <th>Cliente</th>
                                                <th>Parte Adversa</th>
                                                <th>Delegação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(task, i) in tasks" v-bind:data-href="task.url" data-href-target="_new">
                                                <td>{{ task.status }}</td>
                                                <td>{{ task.task_number }}</td>
                                                <td>{{ task.final_deadline_date }}</td>
                                                <td>{{ task.type_task.name }}</td>
                                                <td>{{ task.lawsuit_number }}</td>
                                                <td>{{ task.client.name }}</td>
                                                <td>{{ task.opposing_party }}</td>
                                                <td>{{ task.delegation_date }}</td>
                                            </tr>
                                            <tr v-if="tasks.length == 0">
                                                <td class="text-center" colspan="7">Nenhuma OS para exibir</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                        <div id="form-content" class="modal">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Cadastrar providência</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="panel panel-primary">
                                                <div class="panel-body">
                                                  {% for field in form %}
                                                      {% field_type field as field_type %}
                                                      {% if field_type == 'checkbox'%}
                                                          <div class="form-group col-sm-6">
                                                              <div class="checkbox checkbox-success">
                                                                  {{ field }}
                                                                  {{ field.label_tag }}
                                                              </div>
                                                          </div>
                                                      {% elif field_type != 'clearablefile' and field.name != 'documents' %}
                                                        {% if field.name == 'type_task' %}
                                                          <script>
                                                            var selectedItem = '{{form.type_task.value}}';
                                                            var typeTaskList = []
                                                            {% for data in field.field.queryset %}
                                                                var setTypeTaskList = function (pk, name, simple_service) {
                                                                  typeTaskList.push({
                                                                    pk: pk,
                                                                    name: name,
                                                                    simple_service: simple_service
                                                                  })
                                                                }
                                                                setTypeTaskList('{{data.pk}}', '{{data.name}}', '{{data.simple_service}}')
                                                            {% endfor %}
                                                          </script>
                                                          <div class="form-group col-sm-6 ezl-required">
                                                            <label class="control-label" for="id_type_task">Tipo de Serviço</label>
                                                            <select name="type_task" class="form-control" title="" required="" id="id_type_task">
                                                              <option value="" selected="">Selecione...</option>
                                                            </select>
                                                          </div>
                                                        {% else %}
                                                          {% bootstrap_field field form_group_class="form-group col-sm-6" required_css_class="ezl-required" %}
                                                        {% endif %}
                                                      {% endif %}
                                                  {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        {% include 'ecm/attachments_create.html' %}

                                        <div class="form-row  text-center">
                                            <button class="btn btn-danger waves-effect waves-light" type="button" data-dismiss="modal">
                                                <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
                                            </button>
                                            <button class="btn btn-success waves-effect waves-light" type="submit">
                                                <span class="btn-label"><i class="fa fa-save"></i></span>Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    {%block extra_form %}
    <!-- Modal -->
    <div class="modal fade" id="modal-type-task" tabindex="-1" role="dialog" aria-labelledby="modal-type-task-label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-type-task-label">Selecione o tipo de serviço</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table id='table-type-task' class="table-hover">
                <thead>
                  <tr>
                    <th>Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for type_task in form.type_task.field.queryset %}
                    {% if not type_task.simple_service %}
                        <tr id="{{type_task.pk}}" data-label="{{type_task.name}}">
                          <td>
                            {{type_task.name}}
                          </td>
                        </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    {%endblock%}
{% endblock content %}


{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
    <script src="{% static "file_form/file_form.js" %}"></script>
    <script>
       $(function() {
           initUploadFields($('#task_form'));
       });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <script src="{% static 'task/task-bulk-create.js' %}"></script>
    <script src="{% static 'task/task-typetask.js' %}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/typeahead.js' %}"></script>
    <script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
    <script src="{% static "file_form/file_form.js" %}"></script>
    <script src="{% static "skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js" %}"></script>
    <script>
       $(function() {
           initUploadFields($('#object_form'));
       });
    {% endblock %}

{% block extra_stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
    <link href="{% static "skeleton/plugins/bower_components/datatables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
    <style type="text/css">
        .select2{
            margin-top: -4px !important;
        }

        .select2-container {
            min-width: 100% !important;
        }

        .nav-form label{
            width: 100%;
        }

        .modal-dialog {
            width: 95%!important;
        }
        .loading {
            background-color: #ffffff;
            background-image: url("../../static/img/loading.gif") !important;
            background-size: 16px 16px;
            background-position: right center;
            background-repeat: no-repeat;

        }
    </style>

    <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
    <script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
    <script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
    <script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/i18n/pt-BR.js"></script>
    <script type="text/javascript" src="/static/libs/django-autocomplete-light-3.2.9/select2.js"></script>
{% endblock %}
