{% extends 'inicial.html' %}
{% load staticfiles %}
{% load core_filters %}
{#{% load formset_tags %}#}
{% load tz %}
{% block content %}
    <div class="container">
        <form id="task_detail" class="container" action="" method="post">{% csrf_token %}
            {% include 'questionnaire/generic_survey.html' with generic_survey=form.instance.type_task.survey_type %}

            <script type="text/javascript">

                $(function () {
                    $("input[name=execution_date]").attr({'required': true,
                                                          'placeholder': 'Data de Cumprimento'});
                });

                //Função para tratar erro ao enviar formulário com justificativa de cumprimento em branco
                function beforeSubmit() {
                    $('#task_detail').submit(function (e) {
                        e.preventDefault();
                        $('#confirmAction').modal('hide');
                        $('#survey').modal('show');
                    });
                }

                var nextState = {
                    ACCEPTED: {text: "aceitar", icon: "assignment_ind"},
                    REFUSED: {text: "recusar", icon: "assignment"},
                    DELEGATED: {text: "delegar", icon: "assignment_returned"},
                    DONE: {text: "Cumprir", icon: "assignment_turned_in"},
                    FINISHED: {text: "Finalizar", icon: "gavel"},
                    BLOCKEDPAYMENT: {text: "Glosar", icon: "money_off"},
                    RETURN: {text: "Retornar", icon: "assignment_late"}
                };

                function getId(value) {
                    var task_status = value.id;

                    var $input = $("input[name=execution_date]");
                    if ($input.length > 0) {
                        var input = $input.get(0);
                        if (! input.checkValidity()) {
                            input.reportValidity();
                            return false
                        }
                    }

                    $('#confirmAction').modal('show');

                    // $("#confirmAction").on('shown.bs.modal', function () {
                    var actionButton = document.getElementById("actionButton");
                    var nextText = document.getElementById("actionText");
                    var icon = document.getElementById("icon");
                    var modalHeader = document.getElementById("modalHeader");
                    nextText.innerHTML = nextState[task_status]['text'];
                    icon.innerHTML = nextState[task_status]['icon'];

                    modalHeader.setAttribute("class", "panel-header panel-heading" + " " + task_status);

                    actionButton.setAttribute("name", "action");
                    actionButton.setAttribute("value", task_status);

                    {# Apenas estes status devem possuir notes como required, alem de nao poder #}
                    {# espacos em branco #}
                    ['REFUSED', 'BLOCKEDPAYMENT', 'RETURN'].forEach(function (status) {
                        if (task_status === status) {
                            var notes = $('textarea[id=notes_id]');
                            notes.attr('required', true).change(function () {
                                notes.val(notes.val().trim())
                            });
                        }
                    });
                    return true;
                }
            </script>
            {% include 'core/widgets/messages.html' %}
            <div class="panel">
                <div class="panel-heading {{ form.instance.status.name }}">
                    <div class="panel-title"><i class="material-icons">{{ form.instance.status.get_icon }}</i>
                        <b>{{ form.instance.status }}
                            #{{ form.instance.task_number }}
                            - {{ form.instance.type_task }}</b>
                    </div>
                </div>
                <div class="panel-body form-group is-focused">
                    <div class="form-row">

                        <table class="table table-striped">
                            {% if form.instance.legacy_code %}
                                <thead>
                                    <tr>
                                        <th>Código Legado</th>
                                        <th>
                                            {{ form.instance.legacy_code }}
                                        </th>
                                    </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                                <tr>
                                    <th>
                                        Solicitante
                                    </th>
                                    <td>
                                        {{ form.instance.person_asked_by|capfirst|default_if_none:"---" }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Descrição do serviço
                                    </th>
                                    <td>
                                        <p class="text-justify">{{ form.instance.description.strip|default:"---" }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Prazo
                                    </th>
                                    <td>
                                        {{ form.instance.final_deadline_date|localtime|default_if_none:"---" }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Recebida em
                                    </th>
                                    <td>
                                        {{ form.instance.delegation_date|localtime|default_if_none:"---" }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Serviço solicitado
                                    </th>
                                    <td>
                                        {{ form.instance.type_task|default_if_none:"---" }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Vara
                                    </th>
                                    <td>
                                        {{ form.instance.court_division|default_if_none:"---" }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Órgão
                                    </th>
                                    <td>
                                        {{ form.instance.court|default_if_none:"---" }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Endereço
                                    </th>
                                    <td>
                                        {{ form.instance.address|default:"---"|capfirst }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="hidden form-control">{{ form.survey_result }}</div>

                    </div>
                    <div class="form-group text-center">
                        {% if perms.task.view_delegated_tasks %}
                            <button type="button" id="ACCEPTED" onclick="getId(this)" data-toggle="" data-target="#confirmAction"
                               class="btn btn-sm btn-raised ACCEPTED {% if not form.instance.status.name == 'OPEN' %}hidden{% endif %}">
                                <i class="material-icons left" style="color: white;">assignment_ind</i>
                                Aceitar
                            </button>
                            <a id="REFUSED" onclick="getId(this)" data-toggle="" data-target="#confirmAction"
                               class="btn btn-sm btn-raised REFUSED {% if not form.instance.status.name == 'OPEN' %}hidden{% endif %}"><i
                                    class="material-icons left" style="color: white;">assignment_late</i>
                                Recusar
                            </a>
                        {% endif %}
                        {% if perms.task.delegate_tasks %}
                            <button type="button" id="DELEGATE" onclick="getId(this)" data-toggle="" data-target="#confirmAction"
                               class="btn btn-sm btn-raised DELEGATE {% if not form.instance.status.name == 'DELEGATE' %}hidden{% endif %}"
                               href=""><i
                                    class="material-icons left" style="color: white">assignment_return</i>
                                Delegar
                            </button>
                        {% endif %}
                        {% if perms.task.block_payment_tasks %}
                            <button type="button" id="BLOCKEDPAYMENT" onclick="getId(this)" data-toggle=""
                               data-target="#confirmAction"
                               class="btn btn-sm btn-raised BLOCKEDPAYMENT {% if not form.instance.status.name == 'DONE' %}hidden{% endif %}"><i
                                    class="material-icons left" style="color: white;">money_off</i>
                                Glosar
                            </button>
                        {% endif %}
                        {% if perms.task.validate_all_tasks %}
                            <button type="button" id="FINISHED" onclick="getId(this)" data-toggle="" data-target="#confirmAction"
                               class="btn btn-sm btn-raised FINISHED {% if not form.instance.status.name == 'DONE' %}hidden{% endif %}"
                               href=""><i
                                    class="material-icons left" style="color: white">gavel</i>
                                Finalizar
                            </button>
                        {% endif %}
                        {% if perms.task.return_all_tasks %}
                            <button type="button" id="RETURN" onclick="getId(this)" data-toggle="" data-target="#confirmAction"
                               class="btn btn-sm btn-raised RETURN {% if not  form.instance.status.name == 'DONE' %}hidden{% endif %}"
                               href=""><i
                                    class="material-icons left" style="color: white">assignment_return</i>
                                Retornar
                            </button>
                        {% endif %}
                        {% if perms.task.view_delegated_tasks %}
                            {% if form.instance.status.name == 'ACCEPTED' or form.instance.status.name == 'RETURN' %}
                                <div  class="col-sm-3">
                                    <a>{{ form.execution_date }}</a>
                                </div>
                                <button type="button" onclick="getId(this)" id="DONE" type="submit" data-toggle=""
                                   data-target="#confirmAction"
                                   class="btn btn-sm btn-raised DONE ">
                                    <i class="material-icons left" style="color: white">assignment_turned_in</i>
                                    Cumprir
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Arquivos ECM -->
            <div class="panel panel-primary">
                <div class="panel-heading " data-toggle="collapse" data-target="#attachment" id="header-attachment"
                     onclick="toggleArrow()">
                    <div class="panel-title"><i class="material-icons">attach_file</i>
                        <b>Anexos</b>
                        <i class="material-icons" style="float: right;" id="down">arrow_drop_down</i>
                        <i class="material-icons" style="float: right; display: none;" id="up">arrow_drop_up</i>
                    </div>
                </div>
                <div id="attachment" class="panel-collapse collapse">
                    <div class="panel-body form-group is-focused">
                        {% if form.instance.status.name == 'ACCEPTED' or form.instance.status.name == 'DONE' or form.instance.status.name == 'RETURN' %}
                            <button type="button" class="btn btn-sm btn-primary btn-raised js-upload-files"
                                    style="color: #fff !important;">
                                <i class="material-icons">cloud_upload</i> &nbsp; Enviar Arquivo(s)
                            </button>

                            <input id="fileupload" type="file" name="path" multiple
                                   style="display: none;"
                                   data-method="POST"
                                   enctype="multipart/form-data"
                                   data-url="{% url 'ecm_add' object.id %}"
                                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                            <br>
                            <br>
                        {% endif %}
                        <p class="text-center" id="no-providence">
                            {% if ecms|length == 0 %}
                                Esta providência não possui nenhum arquivo em
                                anexo.
                            {% endif %}
                        </p>
                        <div class="table-responsive">
                            <table id="files" class="table table-bordered table-responsive">
                                <tbody>
                                {% for ecm in ecms %}
                                    <tr class="lineFile" id="row-{{ ecm.id }}">
                                        <td id="cell-table">
                                            <div class="row" id="row-file">
                                                <div class="col-sm-2"
                                                     style="text-align: center !important; vertical-align: middle !important;">
                                                    <i class="material-icons">person_pin</i>
                                                </div>
                                                <div class="col-sm-8" style="text-align: left; padding-left: 0;">
                                                    <h6 style="margin-bottom: 3px !important;">{{ ecm.user.first_name }} {{ ecm.user.last_name }}
                                                        ({{ ecm.create_user }})
                                                    </h6>

                                                    <div style="font-size: x-small">
                                                        {{ ecm.create_date|localtime }}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="cell-table" style="font-size: small; width: 70% !important;">
                                            <a href="/media/{{ ecm.path }}" download
                                               style="text-decoration: none;">{{ ecm.filename }}</a>
                                        </td>
                                        {% if form.instance.status.name == 'ACCEPTED' or form.instance.status.name == 'DONE' or form.instance.status.name == 'RETURN' %}
                                            <td id="cell-table" style="font-size: small">
                                                <i class="material-icons" id=""
                                                   style="cursor: pointer; font-size: medium;"
                                                   data-toggle="modal"
                                                   data-target="#confirmDelete-{{ ecm.id }}">delete</i>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    <tr class="spaceFile" id="row-space{{ ecm.id }}"></tr>

                                    <!-- Janela modal para confirmação de deleção de arquivo -->
                                    <div id="confirmDelete-{{ ecm.id }}" class="modal">
                                        <div class="modal-dialog">
                                            <div class="modal-content ">
                                                <div class="modal-body" style="text-align: center !important;">
                                                    Tem certeza que deseja excluir o arquivo <b>{{ ecm.filename }}</b> ?
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group text-center">
                                                        <button type="button" style="width: 95px!important;"
                                                                class="btn btn-sm btn-raised btn-default"
                                                                data-dismiss="modal">
                                                            Não
                                                        </button>
                                                        <button id="delete-ecm-{{ ecm.id }}"
                                                                style="width: 95px!important;"
                                                                class="btn btn-sm btn-raised btn-primary"
                                                                data-dismiss="modal">Sim
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído o conteúdo das novas janelas modais
                                a medida que for adicionando novos arquivos -->
                                <div id="modals">
                                </div>
                                </tbody>
                            </table>
                        </div>

                        <!-- Janela modal para mostrar progresso do envio de arquivos -->

                        <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" style="text-align: center">Enviando ...</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading " data-toggle="collapse" data-target="#history" id="header-history"
                     onclick="toggleArrowHist()">
                    <div class="panel-title"><i class="material-icons">history</i>
                        <b>Histórico</b>
                        <i class="material-icons" style="float: right;" id="down_hist">arrow_drop_down</i>
                        <i class="material-icons" style="float: right; display: none;" id="up_hist">arrow_drop_up</i>
                    </div>
                </div>

                <div id="history" class="panel-collapse collapse">
                    <div class="panel-body form-group is-focused">

                        {% if not task_history %}
                            <p style="text-align: center;">Nenhum histórico disponível</p>

                        {% else %}
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <td class="col-sm-3"
                                        style="font-size: small; font-weight: 500; text-align: center;">Data da Mudança
                                    </td>
                                    <td class="col-sm-2"
                                        style="font-size: small; font-weight: 500; text-align: center;">Usuário
                                    </td>
                                    <td class="col-sm-1"
                                        style="font-size: small; font-weight: 500; text-align: center;">Status
                                    </td>
                                    <td class="col-sm-6"
                                        style="font-size: small; font-weight: 500; text-align: center;">Observação
                                    </td>
                                </tr>
                                </thead>
                                {% for history in task_history %}
                                    <tr>
                                        <td class="col-sm-3"
                                            style="font-size: small; font-weight: 100; text-align: center;">{{ history.create_date|date:"d \d\e F \d\e Y \à\s H:i:s" }}</td>
                                        <td class="col-sm-2"
                                            style="font-size: small; font-weight: 100; text-align: center;">{{ history.create_user }}</td>
                                        <td class="col-sm-1"
                                            style="font-size: small; font-weight: 100; text-align: center;">{{ history.status }}</td>
                                        <td class="col-sm-6"
                                            style="font-size: small; font-weight: 100; text-align: center;">{{ history.notes }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div id="confirmAction" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div id="modalHeader">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="panel-title text-center">
                                <i id="icon" class="material-icons "></i>
                                <b> Deseja <span id="actionText">aceitar</span> o prazo? </b></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" style="margin: auto">
                                <label> {{ form.notes.label }}</label>
                                {{ form.notes }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group text-center">
                                <button style="width: 95px!important;" onClick="this.form.reset()"
                                        class="btn btn-sm btn-raised btn-default"
                                        data-dismiss="modal">
                                    Cancelar
                                </button>
                                {% if form.instance.status.name == 'ACCEPTED' or form.instance.status.name == 'RETURN' %}
                                    {% if form.instance.type_task.survey_type %}
                                        <button id="actionButton"
                                                type="submit"
                                                onclick="beforeSubmit()"
                                                style="width: 95px!important;"
                                                class="btn btn-sm btn-raised btn-primary">Sim
                                        </button>
                                    {% else %}
                                        <button id="actionButton"
                                                type="submit"
                                                style="width: 95px!important;"
                                                class="btn btn-sm btn-raised btn-primary">Sim
                                        </button>
                                    {% endif %}

                                {% else %}
                                    <button id="actionButton"
                                            style="width: 95px!important;"
                                            type="submit" class="btn btn-sm btn-raised btn-primary">Sim
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Janela modal para mostrar progresso de deleção do arquivo -->
    <div id="deleting" class="modal">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-body" style="text-align: center;">
                    Excluindo arquivo ...
                </div>
                <div class="modal-footer">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Janela modal para mostrar sucesso ao enviar arquivo -->
    <div id="sucessSent" class="modal">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-body" style="text-align: center !important;">
                    <p id="message-success-sent">
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="form-group text-center">
                        <button type="button" style="width: 95px!important;"
                                class="btn btn-sm btn-raised btn-primary"
                                data-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Janela modal para mostrar erro ao enviar arquivo -->
    <div id="errorSent" class="modal">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-body" style="text-align: center !important;">
                    <p id="error-message">

                    </p>
                </div>
                <div class="modal-footer">
                    <div class="form-group text-center">
                        <button type="button" style="width: 95px!important;"
                                class="btn btn-sm btn-raised btn-primary"
                                data-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/basic-upload.js' %}"></script>

    {% for ecm in ecms %}
        <script>
            console.log("Adicionando evento delete-ecm-{{ ecm.id }}");
            $("#delete-ecm-{{ ecm.id }}").click(function () {
                    $('#deleting').modal('show');
                    $.ajax({
                        url: '{% url 'delete_ecm' ecm.id %}',
                        dataType: 'json',

                        success: function (data) {
                            if (data.is_deleted) {
                                showToast('success', data.message, '', 3000, true);
                                $('#row-{{ ecm.id }}').remove();
                                $('#row-space{{ ecm.id }}').remove();
                                $('#deleting').modal('hide');
                            }
                            else {
                                showToast('error', data.message, '', 0, false);
                                $('#deleting').modal('hide');
                            }

                            if (data.num_ged == 0) {
                                document.getElementById("no-providence").innerHTML = "Esta providência não possui nenhum arquivo em anexo.";
                            }
                        }
                    })
                }
            );
        </script>
    {% endfor %}
    <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído os novos scripts de deleção
         a medida que for adicionando novos arquivos -->
    <div id="scripts">
    </div>

    <script>
        var expanded = false;

        function toggleArrowHist() {

            if (expanded) {
                expanded = false;
                document.getElementById("up_hist").style.display = "none";
                document.getElementById("down_hist").style.display = "block";
            }
            else {
                expanded = true;
                document.getElementById("up_hist").style.display = "block";
                document.getElementById("down_hist").style.display = "none";
            }
        }
    </script>

    <script>
        var expanded = false;

        function toggleArrow() {

            if (expanded) {
                expanded = false;
                document.getElementById("up").style.display = "none";
                document.getElementById("down").style.display = "block";
            }
            else {
                expanded = true;
                document.getElementById("up").style.display = "block";
                document.getElementById("down").style.display = "none";
            }
        }
    </script>
{% endblock %}
