{% extends 'skeleton/forms/base.html' %}
{% load static bootstrap3 form_tags %}
{% load ecm_tags %}
{% load core_filters %}
{% load staticfiles %}

{% block form %}
  {% for field in form %}
      {% field_type field as field_type %}
      {% if field_type == 'checkbox'%}
          <div class="form-group col-sm-6">
              <div class="checkbox checkbox-success">
                  {{ field }}
                  {{ field.label_tag }}
              </div>
          </div>
      {% elif field_type != 'clearablefile' and field.name != 'documents' %}
        {% if field.name == 'type_task' %}
          <script>
            var selectedItem = '{{form.type_task.value}}';
            var typeTaskList = []
            {% for data in field.field.queryset %}
                var setTypeTaskList = function (pk, name, simple_service) {
                  typeTaskList.push({
                    pk: pk,
                    name: name,
                    simple_service: simple_service
                  })
                }
                setTypeTaskList('{{data.pk}}', '{{data.name}}', '{{data.simple_service}}')
            {% endfor %}
          </script>
          <div class="form-group col-sm-6 ezl-required">
            <label class="control-label" for="id_type_task">Tipo de Serviço</label>
            <select name="type_task" class="form-control" title="" required="" id="id_type_task">
              <option value="" selected="">Selecione...</option>
            </select>
          </div>
        {% else %}
          {% bootstrap_field field form_group_class="form-group col-sm-6" required_css_class="ezl-required" %}
        {% endif %}
      {% endif %}
  {% endfor %}
{% endblock %}

{%block extra_form %}
<!-- Modal -->
<div class="modal fade" id="modal-type-task" tabindex="-1" role="dialog" aria-labelledby="modal-type-task-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-type-task-label">Selecione o tipo de serviço</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id='table-type-task' class="table-hover">
            <thead>
              <tr>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
              {% for type_task in form.type_task.field.queryset %}
                <tr id="{{type_task.pk}}" data-label="{{type_task.name}}">
                  <td>
                    {{type_task.name}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
    <script src="{% static "file_form/file_form.js" %}"></script>
    <script src="{% static "skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js" %}"></script>
    <script>
       $(function() {
           initUploadFields($('#object_form'));
       });
    </script>

    <script>
      $(document).ready(function() {
        var table;
        var previusSelected = null;

        var addOptionPlus = function(option) {
          var selectEl = document.getElementById('id_type_task');
          if (selectEl.length > 1) {
            selectEl.remove(selectEl.length - 1);
          }
          if (option) {
            selectEl.add(option);
          }
          plusOption = new Option("Selecionar outro...", 'plus');
          selectEl.add(plusOption);
        }


        var addToSession = function(id, text) {
          sessionStorage.setItem('type_task', JSON.stringify({id: id, text:text}))
        };

        $("#modal-type-task").on('show.bs.modal', function(event){
          if (!table) {
            table = $('#table-type-task').DataTable({
              pageLength: 8,
              language: {
                  "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
              },
            })
            table = $('#table-type-task tbody').on('click', 'tr', function(){
              var typeTaskId = $(this).attr('id');
              var typeTaskName = $(this).attr('data-label')
              var optionExist = [];
              optionExist = $('#id_type_task option').filter(function(el){
                if ($(this).val() == typeTaskId) {
                  return el
                }
              })
              if (!optionExist.length) {
                var opt = new Option(typeTaskName, typeTaskId)
                addOptionPlus(opt)
              }
              $('#id_type_task').val(typeTaskId)
              previusSelected = typeTaskId
              $("#modal-type-task").modal('hide')
            })
          }
        })

        // Mostra apenas listagem simples
        typeTaskList.forEach(function(typeTask) {
          if (typeTask.simple_service === 'True') {
            var opt = new Option(typeTask.name, typeTask.pk)
            addOptionPlus(opt);
          } else if (typeTask.pk === selectedItem) {
            var opt = new Option(typeTask.name, typeTask.pk)
            addOptionPlus(opt);
          }
          if (typeTask.pk === selectedItem) {
            $('#id_type_task').val(typeTask.pk)
            }
          })
        addOptionPlus();
        $('#id_type_task').change(function(){
          if ($(this).val() == 'plus') {
            if (!previusSelected) {
              $(this).val(null)
            } else {
              $(this).val(previusSelected)
            }
            $("#modal-type-task").modal('show')
          } else {
            previusSelected = $(this).val()
          }
        })
      })
    </script>
    {% endblock %}

{% block extra_stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
    <link href="{% static "skeleton/plugins/bower_components/datatables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block attachment_form %}
    {% include 'ecm/attachments_create.html' %}
{% endblock attachment_form %}
