{% if value.name == 'ACCEPTED' %}
    <i class="material-icons ACCEPTED" data-toggle="tooltip" data-placement="bottom"
       title="A Cumprir">assignment_ind</i>
{% elif value.name == 'OPEN' %}
    <i class="material-icons OPEN" data-toggle="tooltip" data-placement="bottom" title="Em Aberto">assignment</i>
{% elif value.name == 'RETURN' %}
    <i class="material-icons RETURN " data-toggle="tooltip" data-placement="bottom"
       title="Retorno">assignment_return</i>
{% elif value.name == 'DONE' %}
    <i class="material-icons DONE" data-toggle="tooltip" data-placement="bottom"
       title="Cumprida">assignment_turned_in</i>
{% elif value.name == 'REFUSED' %}
    <i class="material-icons REFUSED" data-toggle="tooltip" data-placement="bottom" title="Recusada">assignment_late</i>
{% endif %}
