{% extends 'task/task_form.html' %}
{% load core_filters form_tags staticfiles bootstrap3 %}

{% block page_title %}
    {% with "ORDEM DE SERVIÇO" as form_name_plural %}
        {% with " " as page_title %}
            {{block.super}}
        {% endwith %}
    {% endwith %}
{% endblock %}

{% block bar_buttons %}
    <a class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light disabled-btn" href="#" id="btn_add">
        Adicionar OS
    </a>
{% endblock %}

{% block content %}
    {% include 'core/widgets/messages.html' %}
    <form id="task_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Criar ordem de serviço</h1>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="row p-b-10">
                            <div class="col-sm-6 p-r-0">
                                {% bootstrap_field form.type_task form_group_class="col-sm-12 p-0" required_css_class='' layout='horizontal' label_class="ezl-required p-0 col-sm-4" field_class="p-0 col-sm-8" %}
                            </div>
                            <div class="col-sm-6 p-r-0">
                                {% bootstrap_field form.law_suit_number addon_after='<button id="btn_add_person_customer" type="button" class="btn btn-lg-custom btn-raised btn-primary" title="Adicionar Cliente/Parte"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10' form_group_class="col-sm-11 p-0" layout='horizontal' label_class="p-0 col-sm-4" field_class="p-l-0 p-r-5 col-sm-8" %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                {% bootstrap_field form.description layout='horizontal' label_class='col-sm-2 control-label p-0' field_class='col-sm-9 p-l-0' %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                {% bootstrap_field form.final_deadline_date layout='horizontal' label_class='col-sm-2 control-label ezl-required p-0' field_class='col-sm-9 p-l-0' %}
                            </div>
                        </div>
                        <div class="panel panel-default block2">
                            <div class="panel-heading p-l-0 p-t-0 p-b-0 ezl-required"><a href="#" data-perform="panel-collapse">Informar a comarca ou a cidade</a>
                            </div>
                            <div class="panel-wrapper collapse" aria-expanded="True" style="">
                                <div class="panel-body p-l-0 p-b-0 p-r-0">
                                    <div class="row p-b-10">
                                        <div class="col-sm-6 p-r-0">
                                            {% bootstrap_field form.court_district form_group_class="col-sm-12 p-0" layout='horizontal' label_class="p-0 col-sm-4" field_class="p-0 col-sm-8" %}
                                        </div>
                                        <div class="col-sm-6 p-r-0">
                                            {% bootstrap_field form.city form_group_class="col-sm-12 p-0" required_css_class='' layout='horizontal' label_class="p-0 col-sm-4" field_class="p-0 col-sm-8" %}
                                        </div>
                                    </div>
                                    <div class="row p-b-10">
                                        <div class="col-sm-6 p-r-0">
                                            {% bootstrap_field form.court_district_complement form_group_class="col-sm-12 p-0" layout='horizontal' label_class='col-sm-4 control-label p-0' field_class='col-sm-8 p-0' %}
                                        </div>
                                    </div>
                                    <div class="row p-b-10">
                                        <div class="col-sm-12 p-r-0">
                                            {% bootstrap_field form.person_customer layout='horizontal' addon_after='<button id="btn_add_person_customer" type="button" class="btn btn-lg-custom btn-raised btn-primary" title="Adicionar Cliente/Parte"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10' form_group_class="col-sm-12 p-0" label_class='col-sm-2 ezl-required p-0' field_class='col-sm-8 p-0' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default block2">
                            <div class="panel-heading p-l-0 p-t-0 p-b-0"><a href="#" data-perform="panel-collapse">Anexos</a>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                                <div class="panel-body p-l-0 p-b-0 p-r-0">
                                    {% include 'ecm/attachments_create.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default block2">
                            <div class="panel-heading p-l-0 p-t-0 p-b-0"><a href="#" data-perform="panel-collapse">Mais informações</a>
                            </div>
                            <div class="panel-wrapper collapse" aria-expanded="True" style="">
                                <div class="panel-body p-l-0 p-b-0 p-r-0">
                                    <div class="row p-b-10">
                                        <div class="col-sm-12 p-r-0">
                                            {% bootstrap_field form.folder_number addon_after='<button id="btn_add_person_customer" type="button" class="btn btn-lg-custom btn-raised btn-primary" title="Adicionar Cliente/Parte"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10'  layout='horizontal' label_class='col-sm-2 control-label p-0' field_class='col-sm-9 p-l-0' %}
                                        </div>
                                    </div>
                                    <div class="row p-b-10">
                                        <div class="col-sm-12 p-r-0">
                                            {% bootstrap_field form.type_movement addon_after='<button id="btn_add_person_customer" type="button" class="btn btn-lg-custom btn-raised btn-primary" title="Adicionar Cliente/Parte"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10'  layout='horizontal' label_class='col-sm-2 control-label p-0' field_class='col-sm-9 p-l-0' %}
                                        </div>
                                    </div>
                                    <div class="row p-b-10">
                                        <div class="col-sm-12 p-r-0">
                                            {% bootstrap_field form.person_company_representative layout='horizontal' label_class='col-sm-2 control-label p-0' field_class='col-sm-9 p-l-0' %}
                                        </div>
                                    </div>
                                    <div class="row p-b-10">
                                        <div class="col-sm-12 p-r-0">
                                            {% bootstrap_field form.person_asked_by layout='horizontal' label_class='col-sm-2 control-label p-0 ezl-required' field_class='col-sm-9 p-l-0' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <div class="form-row  text-center">
                        {% block form_buttons %}
                            {{ block.super }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block extra_scripts %}
    {{ block.super }}
    {{ form.media }}
    <script src="{% static 'task/task-bulk-create.js' %}"></script>
    <script type="text/javascript">
        var task;
        var defaultCustomer = {};
        $(document).ready(function(){
            task = new TaskBulkCreate();
            {% if default_customer %} defaultCustomer = {id: {{ default_customer.id }}, dataValueTxt: "{{ default_customer.data_value_txt }}" }; {% endif %}
            task.personCustomer = defaultCustomer;
            $("#btn_add_person_customer").on('click', function () {
                task.newPersonCustomer('{{ csrf_token }}')
            })
        })
    </script>
{% endblock %}

{% block extra_stylesheets %}
    <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}