{% if value.name == 'ERROR' %}
    <i class="mdi mdi-close-circle-outline ezl-text-error font-30" data-toggle="tooltip" data-placement="bottom"
       title="Erro no sistema de origem"></i>
{% elif value.name == 'REQUESTED' %}
    <i class="mdi mdi-playlist-play ezl-text-requested font-30" data-toggle="tooltip" data-placement="bottom"
       title="Solicitada"></i>
{% elif value.name == 'ACCEPTED_SERVICE' %}
    <i class="mdi mdi-thumb-up-outline ezl-text-accepted_service font-30" data-toggle="tooltip" data-placement="bottom"
       title="Aceita pelo Service"></i>
{% elif value.name == 'REFUSED_SERVICE' %}
    <i class="mdi mdi-thumb-down-outline ezl-text-refused_service font-30" data-toggle="tooltip" data-placement="bottom"
       title="Recusada pelo Service"></i>
{% elif value.name == 'ACCEPTED' %}
    <i class="mdi mdi-calendar-clock ezl-text-accepted font-30" data-toggle="tooltip" data-placement="bottom"
       title="A Cumprir"></i>
{% elif value.name == 'OPEN' %}
    <i class="mdi mdi-account-location ezl-text-open font-30" data-toggle="tooltip" data-placement="bottom"
       title="Em Aberto"></i>
{% elif value.name == 'RETURN' %}
    <i class="mdi mdi-backburger ezl-text-return font-30" data-toggle="tooltip" data-placement="bottom"
       title="Retorno"></i>
{% elif value.name == 'DONE' %}
    <i class="mdi mdi-checkbox-marked-circle-outline ezl-text-done font-30" data-toggle="tooltip" data-placement="bottom"
       title="Cumprida"></i>
{% elif value.name == 'REFUSED' %}
    <i class="mdi mdi-clipboard-alert ezl-text-refused font-30" data-toggle="tooltip" data-placement="bottom"
       title="Recusada"></i>
{% elif value.name == 'BLOCKEDPAYMENT' %}
    <i class="mdi mdi-currency-usd-off ezl-text-blockedpayment font-30" data-toggle="tooltip" data-placement="bottom"
       title="Glosada"></i>
{% elif value.name == 'FINISHED' %}
    <i class="mdi mdi-gavel ezl-text-finished font-30" data-toggle="tooltip" data-placement="bottom"
       title="Finalizada"></i>
{% endif %}

