{% extends 'skeleton/forms/base.html' %}
{% load core_filters %}
{% load staticfiles %}

{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
    <script src="{% static "file_form/file_form.js" %}"></script>
    <script>
       $(function() {
           initUploadFields($('#object_form'));
       });
    </script>
    {% endblock %}

{% block extra_stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
{% endblock %}
{% block attachment_form %}
    <div class="col-lg-12">
        <fieldset>
            <div class="form-row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title"><i class="panel-title mdi mdi-paperclip"></i> Anexos </h1>
                    </div>
                    <div class="panel-body">
                        <fieldset>

                            {{ form.documents }}

                            {% include 'django_file_form/../../../ecm/templates/ecm/attachments_create.html' %}

                        </fieldset>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock attachment_form %}