{% extends 'skeleton/forms/base.html' %}
{% load core_filters %}
{% load staticfiles %}

{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
    <script src="{% static "file_form/file_form.js" %}"></script>
    <script>
       $(function() {
           initUploadFields($('#object_form'));
       });
    </script>
    {% endblock %}

{% block extra_stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
{% endblock %}
{% block attachment_form %}
    {% include 'ecm/attachments_create.html' %}
{% endblock attachment_form %}