<div id="to-assign" class="modal fade"
    tabindex="-1" role="alert" aria-labelledby="modalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'task_to_assign' task.pk %}">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 id="modalTitle" class="panel-title text-center text-danger">Selecione o corrensponde que irá executar esta OS.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12">
                            <input type='hidden' name='office' value='{{ task.office }}'>
                            <select class="person-to-assign form-control" style='width: 100%;'
                                    name="person_executed_by">
                                <option value="" selected></option>
                                {% for person in task.office.persons.active_offices %}
                                    {% for group in person.auth_user.groups.all %}
                                        {% if group.name == 'Correspondente' %}
                                            <option value="{{ person.pk }}">{{ person.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                    </button>
                    <input type="submit" id="btn-to-assign" class="btn btn-success" value='Atribuir'>
                </div>
            </form>
        </div>
    </div>
</div>
