{% extends 'skeleton/forms/base.html' %}
{% load static bootstrap3 form_tags %}
{% load ecm_tags %}
{% load core_filters %}
{% load staticfiles %}

{% block form %}
  {% for field in form %}
      {% field_type field as field_type %}
      {% if field_type == 'checkbox'%}
          <div class="form-group col-sm-6">
              <div class="checkbox checkbox-success">
                  {{ field }}
                  {{ field.label_tag }}
              </div>
          </div>
      {% elif field_type != 'clearablefile' and field.name != 'documents' %}
          {% bootstrap_field field form_group_class="form-group col-sm-6" required_css_class="ezl-required" %}
      {% endif %}
  {% endfor %}
{% endblock %}

{%block extra_form %}
<!-- Modal -->
{%endblock%}

{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>
{#    <script src="{% static 'task/task-typetask.js' %}"></script>#}
    <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
    {% include 'ecm/javascripts.html' %}
    <script>
        {% if object %}
        get_attachments('{{ object|get_modelname_from_object }}', {{object.pk}})
        {% endif %}
    </script>
    {% endblock %}

{% block extra_stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
    <link href="{% static "skeleton/plugins/bower_components/datatables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block attachment_form %}
  {% include 'ecm/attachments.html' %}
{% endblock attachment_form %}
