{% extends 'inicial.html' %}
{% load core_filters %}
{% block content %}
    {% include 'core/widgets/messages.html' %}
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-lg-12">
            <fieldset>
                <div class="form-row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">{{ form.title }}</h1>
                        </div>
                        <div class="panel-body">
                            {% for field in form %}
                                <div class="form-group col-sm-3">
                                    <label>
                                        {{ field | append_ast_if_req | label_capitalizer}}{{ field }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-row  text-center">
                            <a class="btn btn-sm btn-raised btn-default"
                               href="{% url 'movement_update' view.kwargs.lawsuit view.kwargs.movement %}"><i
                                    class="material-icons left">clear</i>
                                Cancelar
                            </a>
                            <button type="submit" class="btn btn-sm btn-raised btn-primary"><i
                                    class="material-icons left">done</i>
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </form>

{% endblock content %}
