{% extends 'task/task_form.html' %}
{% load core_filters form_tags staticfiles bootstrap3 %}

{% block page_title %}
    {% with "ORDEM DE SERVIÇO" as form_name_plural %}
        {% with " " as page_title %}
            {{block.super}}
        {% endwith %}
    {% endwith %}
{% endblock %}

{% block bar_buttons %}
    <a class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light disabled-btn" href="#" id="btn_add">
        Adicionar OS
    </a>
{% endblock %}

{% block content %}
    {% include 'core/widgets/messages.html' %}
    <form id="task_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Criar ordem de serviço</h1>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="row">
                            {% bootstrap_field form.type_task form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                            {% bootstrap_field form.law_suit_number form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.description form_group_class="form-group col-sm-12" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.final_deadline_date form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.court_district form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                            {% bootstrap_field form.city form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.court_district_complement form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.person_customer form_group_class="col-sm-9 p-r-0" layout='horizontal' label_class='col-md-3 ezl-required' %}
                            <div class="col-sm-3 pull-left p-l-0 p-r-0">
                                <button id="btn_add_person_customer"
                                        type="button"
                                        class="btn btn-lg-custom btn-raised btn-primary"
                                        title="Adicionar Cliente/Parte">
                                    <i class="mdi mdi-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% include 'ecm/attachments_create.html' %}
                        <div class="row">
                            {% bootstrap_field form.folder_number form_group_class="form-group col-sm-9" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.type_movement form_group_class="form-group col-sm-9" required_css_class='ezl-required' %}
                        </div>
                        <div class="row">
                            {% bootstrap_field form.person_asked_by form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                            {% bootstrap_field form.person_company_representative form_group_class="form-group col-sm-6" required_css_class='ezl-required' %}
                        </div>
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <div class="form-row  text-center">
                        {% block form_buttons %}
                            {{ block.super }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block extra_scripts %}
    {{ block.super }}
    {{ form.media }}
    <script src="{% static 'task/task-bulk-create.js' %}"></script>
    <script type="text/javascript">
        var task;
        var defaultCustomer = {};
        $(document).ready(function(){
            task = new TaskBulkCreate();
            {% if default_customer %} defaultCustomer = {id: {{ default_customer.id }}, dataValueTxt: "{{ default_customer.data_value_txt }}" }; {% endif %}
            task.personCustomer = defaultCustomer;
            $("#btn_add_person_customer").on('click', function () {
                task.newPersonCustomer('{{ csrf_token }}')
            })
        })
    </script>
{% endblock %}