{% extends 'inicial.html' %}
{#{% load staticfiles %}#}
{#{% load formset_tags %}#}

{% block content %}
    {% include 'core/widgets/messages.html' %}

    <form action="" method="post">{% csrf_token %}
        <div class="content-container">
            <fieldset>
                {#                <div class="container">#}
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>
                                    {{ field.label }}{{ field }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {#                </div>#}
                {#                <table>#}
                {#                    {% for field in form %}#}
                {##}
                {#                        <tr>#}
                {##}
                {#                            {% if forloop.counter|divisibleby:"2" %}#}
                {#                                <td>#}
                {#                                    <div class="form-group">#}
                {#                                        <label>#}
                {#                                            {{ field.label }}{{ field }}#}
                {#                                        </label>#}
                {#                                    </div>#}
                {#                                </td>#}
                {#                            {% else %}#}
                {#                                <td>#}
                {#                                    <div class="form-group">#}
                {#                                        <label>#}
                {#                                            {{ field.label }}{{ field }}#}
                {#                                        </label>#}
                {#                                    </div>#}
                {#                                </td>#}
                {#                            {% endif %}#}
                {##}
                {#                            <td>#}
                {#                                {% if not forloop.counter|divisibleby:"2" %}#}
                {##}
                {#                                  #}
                {##}
                {##}
                {#                                {% endif %}#}
                {#                            </td>#}
                {#                        </tr>#}
                {##}
                {##}
                {#                    {% endfor %}#}

                {#                </table>#}
                <div class="form-row  text-center">
                    <a class="btn btn-sm btn-raised btn-default"
                       href="{% url 'lawsuitinstance_list' %}"><i
                            class="material-icons left">clear</i>
                        Cancelar
                    </a>
                    <button type="submit" class="btn btn-sm btn-raised btn-primary"><i
                            class="material-icons left">done</i>
                        Salvar
                    </button>
                </div>
                {#                </div>#}
            </fieldset>
        </div>

    </form>

{% endblock content %}
