    {% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div style="text-align: center" class="container">
        <div>
            <form action="" method="post"> {% csrf_token %}
                <div class="fieldWrapper hidden">
                    {{ form.id }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.legacy_code.id_for_label }}">{{ form.legacy_code.label }}</label>
                    {{ form.legacy_code }}
                </div>
                <div class="fieldWrapper">
                    <p>
                    {{ form.uses_wo.errors }}
                        <input class="filled-in" {% if form.uses_wo.value == True %}checked{% endif %}
                               type="checkbox" name="{{ form.uses_wo.html_name }}"
                               id="{{ form.uses_wo.id_for_label }}"/>
                        <label for="{{ form.uses_wo.id_for_label }}">{{ form.uses_wo.label }}</label>
                    </p>
                </div>
                <div style="clear:left; height:25px; margin-top:20px; margin-right:20px; margin-bottom:20px;  margin-left:20px;">
                    <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">save</i>
                        Salvar
                    </button>
                    <a class="waves-effect waves-light red darken4 btn" formnovalidate
                            href="{% url 'type_movement_list' %}"><i
                            class="material-icons left">cancel</i>
                        Cancelar
                    </a>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        </form>
    </div>
{% endblock %}


