{% extends 'core/widgets/generic_list_view.html' %}
{% load static %}
{% block search %}
{% endblock %}
{% block content %}
    <form action="#" method="post" id="formTable">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title form-row">{{ form_name_plural.capitalize }}</div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="template-values-table">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Configuração
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'manager/template-value.js' %}?rev={{request.REVIEW}}"></script>
    <script>
    new TemplateValue()
    </script>
{% endblock %}