{% extends 'base.html' %}
{% load static %}
{% block body %}
     {% include 'core/widgets/messages.html' %}
<link rel="stylesheet" type="text/css"
      href="{% static "login.css" %}">
<script src="{% static "js/login.js" %}"></script>
<div class="materialContainer">
    <div class="box">

        <div class="title"><img width="325px" class="img-responsive" src="{% static "img/logo_ezl.png" %}"></div>
        <form method="POST" action="{% url 'account_login' %}"> {% csrf_token %}

            <div class="input">
                <label for="first_name" class="floating-label">Login</label>
                <input id="first_name" type="text" name="login" required>
                <span class="spin"></span>
            </div>

            <div class="input">
                <input id="password" type="password" name="password" class="password" required>
                <label for="password" class="floating-label">Senha</label>
                <span class="spin"></span>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="button login">
                <button type="submit" ><span>Entrar</span><i class="fa fa-check"></i></button>
            </div>
            <a href="/accounts/password/reset/" class="pass-forgot">Recuperar a senha</a>
            <a href="{% url 'recover_database' %}" class="pass-forgot">Recuperar Banco de Dados</a>

        </form>

        <div style="padding-top: 30px" class="pass-forgot"><label >Desenvolvido por:</label> <img
                onclick="window.open('http://www.mttech.com.br')"
                src="/static/img/logo.png" height="20"
                style="cursor: pointer; cursor: hand;"/>
        </div>
    </div>

    <form method="POST" action="{% url 'register_user' %}"> {% csrf_token %}
        <div class="overbox">
            <div class="material-button alt-2"><span class="shape"></span></div>

            <div class="title">Registrar</div>

            <div class="input">
                <label for="regname">Login</label>
                <input type="text" name="username" id="regname">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="regpass">E-mail</label>
                <input type="email" name="email" id="regmail">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="regpass">Senha</label>
                <input type="password" name="password" id="regpass">
                <span class="spin"></span>
            </div>

            <div class="button">
                <button><span>Próximo</span></button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#first_name").change(function() {
            if (document.getElementById("password").value && $("#password").css("top") !== "0px") {
                $(".floating-label").css("top", "0px");
                $(".floating-label").css("line-height", "18px");
                $(".floating-label").css("font-size", "18px");
                $(".floating-label").css("font-weight", "100");
            }
        });
    </script>
{% endblock %}
