{% include 'base.html' %}
{% load static %}
 {% include 'core/widgets/messages.html' %}
<link rel="stylesheet" type="text/css"
      href="{% static "login.css" %}">
<script src="{% static "js/login.js" %}"></script>
<div class="materialContainer">
    <div class="box">

        <div class="title">Easy Lawyer</div>
        <form method="POST" action="{% url 'account_login' %}"> {% csrf_token %}
            <div class="input">
                <label for="first_name">Login</label>
                <input id="first_name" type="text" name="login" required>
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="password">Senha</label>
                <input id="password" type="password" name="password" required>
                <span class="spin"></span>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="button login">
                <button type="submit" ><span>Entrar</span><i class="fa fa-check"></i></button>
            </div>
            <a href="/accounts/password/reset/" class="pass-forgot">Recuperar a senha</a>
            <a href="{% url 'recover_database' %}" class="pass-forgot">Recuperar Banco de Dados</a>

        </form>

        <div style="padding-top: 30px" class="pass-forgot"><label>Desenvolvido por:</label> <img
                onclick="window.open('http://www.mttech.com.br')"
                src="/static/img/logo.png" height="20"
                style="cursor: pointer; cursor: hand;"/>
        </div>
    </div>

    <div class="overbox">
        <div class="material-button alt-2"><span class="shape"></span></div>

        <div class="title">Registrar</div>

        <div class="input">
            <label for="regname">Login</label>
            <input type="text" name="regname" id="regname">
            <span class="spin"></span>
        </div>

        <div class="input">
            <label for="regpass">Senha</label>
            <input type="password" name="regpass" id="regpass">
            <span class="spin"></span>
        </div>

        <div class="input">
            <label for="reregpass">Repetir Senha</label>
            <input type="password" name="reregpass" id="reregpass">
            <span class="spin"></span>
        </div>
        <div class="button">
            <button><span>Próximo</span></button>
        </div>


    </div>

</div>