{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style>
    .active{
        display: none;
    }
</style>
<div class="container">
    <h3>{% trans "Change Password" %}</h3>
    <br><br>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                        <script>
                            $.toast({
                                text: '<font size=3>{{ message }}</font>',
                                allowToastClose : false,
                                hideAfter : 8000,
                                position : 'bottom-center',
                                loader: false,
                                stack: 5
                            });
                        </script>

                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}


        <button class="btn btn-large" type="submit" name="action"><i class="material-icons left">vpn_key</i> {% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
