{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<body style="background-color: #eee !important; text-align:center !important;">
    <div class="container"><br><br>
        <h2>Alteração de Senha</h2>
        <li class="divider"></li>
                {% if user.is_authenticated %}
                    <meta http-equiv="refresh" content="0;url=/">
                {% endif %}
        <br><br><br>
        <p>
            Sua senha foi alterada com sucesso
        </p>
        <br><br>

        <a class="btn-large waves-effect waves-light" href="/"><i class="material-icons left">home</i> Fazer Login</a>



    </div>
</body>
{% endblock %}
