{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <div class="container" style="text-align: center !important;"><br><br>
        <h2>Alteração de Senha</h2>

                {% if user.is_authenticated %}
                    <meta http-equiv="refresh" content="0;url=/">
                {% endif %}
        <br><br><br>
        <p>
            Sua senha foi alterada com sucesso.ddxcvadvadfadfg
        </p>
        <br><br>

        <a class="btn btn-primary btn-raised" href="/">Fazer Login</a>



    </div>
{% endblock %}
