{% extends "inicial.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0;url=/">
{% endif %}

{% block body %}
    <style>
        body{
            text-align: center !important;
        }
    </style>

    <div class="container"><br><br>
        <h2>Alteração de Senha</h2>
        <br><br><br>
        <p align="center" style="font-size: 2rem;">
            Sua senha foi alterada com sucesso
        </p>
        <br><br>

        <a class="btn btn-raised btn-primary" href="/">Fazer Login</a>



    </div>
    </body>
{% endblock %}
