{% extends "inicial.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
<style>
    label{
        display: none !important;
    }

    #id_password1{
        margin-top: 20px !important;
    }

    h2{
        margin-bottom: 20px !important;
    }

</style>
<body style="background-color: #eee;">
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0;url=/">
{% endif %}
<div class="container" style="text-align:center !important;">
    <h2>{% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h2>
    <br><br>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
                            {% if form.errors %}
                    <div class="alert_danger">{{ form.errors.as_text }}</div>
                    <br>
                {% endif %}
            <center>
            <div class="well col-md-4 col-md-offset-4">
                <form method="POST" action="{{ action_url }}" style="max-width: 460px;">
                    {% csrf_token %}
                    {#{{ form.as_p }}#}
                    {% for field in form  %}
                        <div class="form-group label-floating">
                            <input type="password" name="{{ field.name }}" class="form-control" placeholder="{{field.label}}">
                        </div>
                    {% endfor %}
                    <button type="submit" style="width: 100%; max-width: 460px !important;" name="action" class="btn btn-primary btn-raised">Alterar Senha</button>
                </form>
            </div>
            </center>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
</div>
        {% endif %}
    {% endif %}
{% endblock %}
</body>
