<html>
<style>
    .help-block{
        display: none !important;
    }

    #id_email{
        max-width: 500px !important;

    }
</style>
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<body style="background-color: #eee !important;">
    <div class="container">
        <div class="row">
            <div class="main">
                <br><br>
                <h2 style="text-align: center !important;">Recuperação de Senha</h2>
                <li style="text-align: center !important;" class="divider"></li>
                <br><br><br><br>
                <p align="justify">

                Para recuperar sua senha, informe seu endereço de email cadastrado. Você receberá um email contendo um link para a redefinição da senha.</p> <br><br>
                </div>
                {% if user.is_authenticated %}
                    <meta http-equiv="refresh" content="0;url=/">
                {% endif %}

                <p></p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="gap gap-small"></div>
                    <label class="control-label requiredField"><span class="asteriskField"></span></label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <span class="help-block"><strong>{{ form.email.errors.as_text }}</strong></span>
                    {% endif %}

                    <div class="gap gap-small"></div>
                    <div class="col-md-12 center-block">

                        <button type="submit" class="waves-effect waves-light btn-large" formaction="/" formnovalidate><i class="material-icons">keyboard_backspace</i></button>
                        <button type="submit" class="waves-effect waves-light btn-large"><i class="material-icons left">vpn_key</i> Recuperar Senha</button>

                        </div>

                    <div class="gap gap-small"></div>

                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
