<style xmlns="http://www.w3.org/1999/html">
    #id_email{
        max-width: 500px !important;

    }

    body{
        background-color: #eee !important;
        overflow: hidden !important;
    }
</style>
{% extends "inicial.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row">
                <div class="main">
                    <br><br>
                    <h2 style="text-align: center !important;">Recuperação de Senha</h2>
                    <br>
                    <p align="center">
                        Para recuperar sua senha, informe seu endereço de email cadastrado. Você receberá um email contendo um link para a redefinição da senha.</p> <br><br>
                    </p>
                </div>

                {% if form.email.errors %}
                    <div class="alert_danger">{{ form.email.errors.as_text }}</div>
                    <br>
                {% endif %}

                <div class="well col-md-4 col-md-offset-4">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <div class="gap gap-small"></div>

                        <label class="control-label requiredField"><span class="asteriskField"></span></label>
                        <input type class="form-control" name="{{ form.email.name }}" placeholder="Endereço de Email" required>

                        <button type="submit" class="btn btn-primary btn-raised" style="width: 100% !important;">Recuperar Senha</button>
                        <button type="submit" class="btn btn-primary btn-raised" style="width: 100% !important;" formaction="/" formnovalidate >Cancelar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>
