{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style>
    label{
        display: none !important;
    }

    #id_password1{
        margin-top: 20px !important;
    }

    h2{
        margin-bottom: 20px !important;
    }

</style>
<body style="background-color: #eee;">
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0;url=/">
{% endif %}
<div class="container" style="text-align:center !important;">
    <h2>{% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h2>
    <br><br>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            <center>
                <form method="POST" action="{{ action_url }}" style="max-width: 460px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" style="width: 100%; max-width: 460px !important;" name="action" class="waves-effect waves-light btn-large"><i class="material-icons center">vpn_key</i> &nbsp; Alterar</button>
                </form>
            </center>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
</div>
        {% endif %}
    {% endif %}
{% endblock %}
</body>
