{% extends 'inicial.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
     {% include 'core/widgets/messages.html' %}
<div class="container">

    <h2 style="text-align: center;">{% trans "Change Password" %}</h2>
    <br><br>
    <div class="well col-md-4 col-md-offset-4">
        {% if form.errors %}
            {% for error in  form.oldpassword.errors %}
                <div class="alert_danger">{{error}}</div>
            {% endfor %}

            {% for error in  form.password1.errors %}
                <div class="alert_danger">{{error}}</div>
            {% endfor %}

            {% for error in  form.password2.errors %}
                <div class="alert_danger">{{error}}</div>
            {% endfor %}
            <br>
        {% endif %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        {% for input in form  %}

            <input type="password" name="{{input.name}}" placeholder="{{ input.label | capfirst }}" class="form-control" required>

        {% endfor %}
        {# {{ form.as_p }} #}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                        <script>
                            $.toast({
                                text: '<font size=3>{{ message}}</font>',
                                allowToastClose : false,
                                hideAfter : 8000,
                                position : 'bottom-center',
                                loader: false,
                                stack: 5
                            });
                        </script>

                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}


       <div style="text-align: center;">
           <button class="btn btn-primary btn-raised" type="submit" name="action"> {% trans "Change Password" %}</button>
       </div>
    </form>
    </div>
</div>
{% endblock %}