{% extends 'skeleton/base.html' %}
{% load static %}
{% load djmoney %}
{% block sidebar %}
{% endblock %}
{% block extra_stylesheets %}
    <!-- Wizard CSS -->
    <link href="{% static 'skeleton/plugins/bower_components/jquery-wizard-master/css/wizard.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'skeleton/css/colors/default.css' %}" id="theme" rel="stylesheet">

    <link href="{% static 'libs/toastr/build/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'skeleton/plugins/bower_components/custom-select/custom-select.css' %}" rel="stylesheet" type="text/css">
    <style>
        #page-wrapper{
            margin-left: 0!important;
        }
        .modal-title{
            margin-top: 15px !important;
        }
        div.select-row-icon{padding:0;margin:0}
        div.select-row-icon div{display:block;list-style:none}
        div.select-row-icon div a{display:block;color:#313131;padding:8px 15px;position:relative;border:2px solid #fff}
        div.select-row-icon div a i{font-size:24px;vertical-align:middle;padding-right:10px}
        div.select-row-icon div a i.whn-hov{color:#41b3f9;display:none;float:right;position:absolute;right:15px;top:10px}
        div.select-row-icon div a.selected,div.select-row-icon div a:hover{border:2px solid rgba(120,130,140,.13)}
        div.select-row-icon div a.selected i.whn-hov,div.select-row-icon div a:hover i.whn-hov{display:inline-block}
    </style>
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="col-md-12 text-center m-t-15 m-b-10">
            <p>Já possui uma conta? <a href="{% url 'login' %}" class="text-primary m-l-5"><b>Entrar</b></a>
            </p>
        </div>
    </nav>
{% endblock %}
{% block containner %}
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">CADASTRE-SE AGORA</h3>
                <p class="text-muted m-b-30 font-13">Crie sua conta para começar a trabalhar</p>
                <div id="registerForm" class="wizard">
                    <ul class="wizard-steps" role="tablist">
                        <li class="active" role="tab">
                            <h4><span><i class="ti-user"></i></span>Dados de Acesso</h4> </li>
                        <li role="tab">
                            <h4><span><i class="fa fa-building-o"></i></span>Forma de trabalho</h4> </li>
                        <li data-target="#plan_tab" role="tab">
                            <h4><span><i class="fa fa-dashboard"></i></span>Plano de acesso</h4> </li>
                        <li data-target="#confirm_tab" role="tab">
                            <h4><span><i class="ti-check"></i></span>Confirmar</h4> </li>
                    </ul>
                    <form enctype="multipart/form-data" id="validation" class="form-horizontal" method="post" action="{% url 'register_user' %}">
                        {% csrf_token %}
                        <input type="hidden" name="invite_code" {% if invite_code %}value="{{ invite_code }}"{% endif %} >
                        <div class="wizard-content">
                            <div class="wizard-pane active" role="tabpanel">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Nome</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="name" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Usuário</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="username" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">E-mail</label>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="email"
                                        {% if email %}value="{{ email }}"{% endif %}/> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Senha</label>
                                    <div class="col-xs-5">
                                        <input type="password" class="form-control" name="password" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Confirmar Senha</label>
                                    <div class="col-xs-5">
                                        <input type="password" class="form-control" name="confirmpassword" /> </div>
                                </div>
                            </div>
                            <div class="wizard-pane" role="tabpanel">
                                <div class="form-group">
                                    <div class="input-group">
                                    </div>
                                    <input type="hidden" name="select_office_register" required>
                                    <div id="tab-1-alert" class="alert alert-danger alert" style="display: none">Favor selecionar uma forma de trabalho. </div>
                                    <div id="select_office_register" class="select-row-icon">
                                        <div class="row col-md-12">
                                            <a id="existing_office" data-id="1" class='select_office_list' href="javascript:void(0)"><i class="mdi mdi-credit-card"></i> <span>Vincular-me a um escritório já cadastrado</span> <i class="whn-hov mdi mdi-checkbox-marked-circle"></i></a>
                                            <div id="select_office_detail_1" class="hide b-all p-10 m-b-15 text-center">
                                                <h5 class="modal-title">Selecione o Escritório</h5>
                                                <div class="row m-t-10 m-b-10">
                                                    <div class="col-md-12"><input type="text" class="form-control form-inline" autocomplete="off" data-session="false" placeholder="Procurar..." id="filter_office_legal_name" name="filter_office_legal_name" ></div>
                                                </div>
                                                <div class="row" style="max-height: 400px; min-height: 140px; overflow: scroll">
                                                    {% for office in offices %}
                                                        <div class="col-md-4 col-sm-12 hide" id="office-{{ office.id }}">
                                                            <div class="white-box color-bordered-table muted-bordered-table p-10 office-card-p" onclick="select_office('{{office.pk}}')">
                                                                <div class="row">
                                                                    <div class="col-md-2 col-sm-2 text-center">
                                                                        <button type="button" class="btn btn-default btn-circle btn-md">
                                                                            <i class="fa fa-building-o"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="col-md-10 col-sm-10" style="overflow-y: auto; overflow-x:hidden;">
                                                                        <span class="box-title office-legal-name"><small>{{office.legal_name}}</small></span>
                                                                            {% with office.get_address.first as first_address  %}
                                                                                {% if first_address %}
                                                                                    <br /><small><strong><span id="office-city">{{ first_address.city.name }} ({{ first_address.city.state.initials }})</span></strong></small>
                                                                                {% endif %}
                                                                            {% endwith %}
                                                                        <input type="checkbox" id="office_checkbox_{{ office.pk }}" name="office_checkbox" class="hidden" value="{{ office.pk }}" >
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12 office-select-button">
                                                                        <button id="button_action-{{ office.pk }}"
                                                                                class="btn btn-custom btn-block btn-rounded btn-block m-t-10 p-t-0 p-b-0">
                                                                            <i id='icon-{{ office.pk }}' class="fa fa-check" style="font-size: 13px;"></i>
                                                                            <span id="title-{{ office.pk }}" style="font-size: 12px;">Selecionar</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <a id="new_office" data-id="2" class='select_office_list' href="javascript:void(0)"><i class="mdi mdi-monitor"></i> <span> Não encontrei meu escritório e desejo cadastrá-lo</span> <i class="whn-hov mdi mdi-checkbox-marked-circle"></i></a>
                                            <div id="select_office_detail_2" class="hide b-all p-20 m-b-15 text-center">
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Razão social / Nome completo</label>
                                                    <div class="col-xs-5">
                                                        <input type="text" class="form-control" name="legal_name" /> </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Nome fantasia / Apelido</label>
                                                    <div class="col-xs-5">
                                                        <input type="text" class="form-control" name="office_name" /> </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Tipo</label>
                                                    <div class="col-xs-5">
                                                        <select name="legal_type" class="form-control" title="" id="id_legal_type">
                                                          <option value="F">Física</option>
                                                          <option value="J" selected="">Jurídica</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">CPF / CNPJ</label>
                                                    <div class="col-xs-5">
                                                        <input type="text" class="form-control" name="cpf_cnpj" id="id_cpf_cnpj" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <a id="work_alone" data-id="3" class='select_office_list' href="javascript:void(0)"><i class="mdi mdi-cash"></i> <span>Trabalho sozinho</span> <i class="whn-hov mdi mdi-checkbox-marked-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-pane active" id="plan_tab" role="tabpanel">
                                <div id="tab-2-alert" class="alert alert-danger alert" style="display: none">Favor selecionar um Plano de acesso. </div>
                                <input type="hidden" name="plan_name" id="plan_name" >
                                <div class="row pricing-plan">
                                    {% for plan in plans %}
                                        <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                                            <div id="plan-{{ plan.pk }}-box" class="pricing-box b-l b-r">
                                                <div class="pricing-body">
                                                    <div class="pricing-header" style="min-height: 110px">
                                                        <h4 class="text-center">{{ plan.name }}</h4>
                                                        {% if plan.custom_pricing %}
                                                            <h2 class="p-b-20 font-bold">{{ plan.custom_pricing_text }}</h2>
                                                        {% else %}
                                                        <h2 class="text-center">
                                                            {% money_localize plan.month_value on as formated_month_value%}
                                                            <span class="price-sign">{{ formated_month_value|make_list|slice:':2'|join:'' }}</span>
                                                            {{ formated_month_value|make_list|slice:'2:'|join:'' }}
                                                        </h2>
                                                        <p class="uppercase">por mês</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="price-table-content">
                                                        {{ plan.description|safe }}
                                                        <div class="price-row">
                                                            <button class="btn btn-success waves-effect waves-light m-t-20"
                                                                    data-select="plan"
                                                                    data-value="{{ plan.pk }}"
                                                                    data-name="{{ plan.name }}"
                                                                    onclick="choose_plan(this)">Contratar</button>
                                                            <input type='radio' id='plan-{{ plan.pk }}-radio' name='plan' value='{{ plan.pk }}' class="hidden" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="wizard-pane" id="confirm_tab" role="tabpanel">
                                <div class="row">
                                    <h4 class="font-bold">Dados de acesso</h4>
                                    <div class="form-group m-b-0">
                                        <label class="col-xs-3 control-label p-t-10">Nome</label>
                                        <div class="col-xs-5 p-t-10">
                                            <span id="name"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0">
                                        <label class="col-xs-3 control-label p-t-10">Usuário</label>
                                        <div class="col-xs-5 p-t-10">
                                            <span id="username"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0">
                                        <label class="col-xs-3 control-label p-t-10">E-mail</label>
                                        <div class="col-xs-5 p-t-10">
                                            <span id="email"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4 class="font-bold">Forma de trabalho</h4>
                                    <div id="select_office_register-1" class="form-group m-b-0">
                                        <label class="col-xs-3 control-label p-t-10">Vicular-me a um escritório já cadastrado:</label>
                                        <div class="col-xs-5 p-t-10">
                                            <span id="office_list"></span>
                                        </div>
                                    </div>
                                    <div id="select_office_register-2" class="form-group m-b-0">
                                        <label class="col-xs-3 control-label p-t-10">Não encontrei meu escritório e desejo cadastrá-lo:</label>
                                        <div class="col-xs-5 p-t-10">
                                            <div class="form-group m-b-0">
                                                <label class="col-xs-3 control-label p-t-10">Razão social / Nome completo</label>
                                                <div class="col-xs-5 p-t-10">
                                                    <span id="legal_name"></span>
                                                </div>
                                            </div>
                                            <div class="form-group m-b-0">
                                                <label class="col-xs-3 control-label p-t-10">Nome fantasia / Apelido</label>
                                                <div class="col-xs-5 p-t-10">
                                                    <span id="office_name"></span>
                                                </div>
                                            </div>
                                            <div class="form-group m-b-0">
                                                <label class="col-xs-3 control-label p-t-10">Tipo</label>
                                                <div class="col-xs-5 p-t-10">
                                                    <span id="legal_type"></span>
                                                </div>
                                            </div>
                                            <div class="form-group m-b-0">
                                                <label class="col-xs-3 control-label p-t-10">CPF / CNPJ</label>
                                                <div class="col-xs-5 p-t-10">
                                                    <span id="cpf_cnpj"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="select_office_register-3" class="form-group m-b-0">
                                        <label class="col-xs-3 control-label p-t-10">Trabalho Sozinho</label>
                                    </div>
                                </div>
                                <div id="plan-row" class="row">
                                    <h4 class="font-bold">Plano de acesso</h4>
                                    <label id="selected-plan" class="col-xs-3 control-label p-t-10"></label>
                                </div>
                                <div class="row">
                                    <h4 class="font-bold">Termos de uso e serviço</h4>
                                    <div class="row">
                                        <blockquote>
                                            <p>All the x-ray visions will be lost in histories like turbulences in faiths</p>
                                            <p>Meet wihtout definition, and we won’t question a sun. Coordinates at the habitat tightlyoddly, indeed was the honor of stigma, observed to a bare sonic shower. Cold shields lead to the alignment. Go bravely like a greatly exaggerated star. Conscious ionic cannons lead to the pressure. Parasites wobble from understandings like greatly exaggerated planets. The dosi experiments x-ray vision like an apocalyptic creature. Ugly phenomenans, to the planet. Finally control a pathway. None of these plasmas will be lost in winds like pressures in nuclear fluxs The planet is more space suit now than c-beam. small and never virtual.</p>
                                            <p>C-beams go from metamorphosis like colorful particles. All the sonic showers eat calm, boldly parasites. Shields up, quirky life! Attitude at the galaxy that is when intelligent starships yell. Starships meet from loves like twisted vogons. Tightly translate a sonic shower. Where is the crazy girl? Space suits reproduce with paralysis! Why does the ferengi experiment? Intelligent metamorphosis lead to the energy. The crew is more sonic shower now than tribble. reliable and impressively biological. Die impressively like a bare c-beam></p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% include 'core/mask_selector.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock containner %}
{% block modal %}
{% endblock %}
{% block extra_scripts %}
    <!-- Form Wizard JavaScript -->
    <script src="{% static 'skeleton/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js' %}"></script>
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'skeleton/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css' %}">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="{% static 'skeleton/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js' %}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js' %}"></script>
    <!--Toast-->
    <script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'skeleton/plugins/bower_components/custom-select/custom-select.min.js' %}"></script>

    <script type="text/javascript">
    (function() {
        wizard = $('#registerForm').wizard({
            buttonLabels: {
                next: 'Próximo',
                back: 'Anterior',
                finish: 'Finalizar'
            },
            onInit: function() {
                $('#validation').formValidation({
                    framework: 'bootstrap',
                    fields: {
                        name: {
                            validators: {
                                notEmpty: {
                                    message: 'O campo de nome é obrigatório'
                                }
                            }
                        },
                        username: {
                            validators: {
                                notEmpty: {
                                    message: 'O nome de usuário é obrigatório'
                                },
                                remote: {
                                    message: 'Este usuário já existe na nossa base de dados',
                                    url: '/validate_username/',
                                    type: 'POST',
                                    delay: 1000,
                                    data: function(validator, $field, value) {
                                        return {
                                            csrfmiddlewaretoken: validator.getFieldElements('csrfmiddlewaretoken').val()
                                        };
                                    }
                                },
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: 'O e-mail é obrigatório'
                                },
                                emailAddress: {
                                    message: 'O valor inserido não é um endereço de e-mail válido'
                                },
                                remote: {
                                    message: 'Já existe um usuário cadastrado com este e-mail',
                                    url: '/validate_email/',
                                    type: 'POST',
                                    delay: 1000,
                                    data: function(validator, $field, value) {
                                        return {
                                            csrfmiddlewaretoken: validator.getFieldElements('csrfmiddlewaretoken').val()
                                        };
                                    }
                                },
                            }
                        },
                        password: {
                            threshold: 8,
                            validators: {
                                notEmpty: {
                                    message: 'É obrigatório uma senha de acesso'
                                },
                                different: {
                                    field: 'username',
                                    message: 'A senha não pode ser a mesma do usuário'
                                },
                                remote: {
                                    message: 'A senha não atende aos requisitos',
                                    url: '/validate_password/',
                                    type: 'POST',
                                    data: function(validator, $field, value) {
                                        return {
                                            csrfmiddlewaretoken: validator.getFieldElements('csrfmiddlewaretoken').val()
                                        };
                                    }
                                }
                            }
                        },
                        confirmpassword: {
                            validators: {
                                identical: {
                                    field: 'password',
                                    message: 'Os valores digitados para os campos de senha não conferem'
                                }
                            }
                        },
                        legal_name: {
                            validators: {
                                callback: {
                                    message: 'Este campo é obrigatório',
                                    callback: function (value, validator, $field) {
                                        var select_office_register = $('input[name=select_office_register]').val();
                                        if (select_office_register === '2'){
                                            return value !== '';
                                        }else{
                                            return true;
                                        }
                                    }
                                },
                            }
                        },
                        filter_office_legal_name: {
                            validators: {
                                callback: {
                                    message: "Favor selecionar pelo menos um escritório para se vincular",
                                    callback: function (value, validator, $field) {
                                        var select_office_register = $('input[name=select_office_register]').val();
                                        if (select_office_register === '1'){
                                            retorno = false
                                            $('input[id^=office_checkbox_]').each(function (index) {
                                                if ($( this ).prop("checked")){
                                                    retorno = true;
                                                }
                                            });
                                            return retorno;
                                        }else{
                                            return true;
                                        }
                                    }
                                }
                            }
                        }
                    }
                });
            },
            validator: function() {
                var fv = $('#validation').data('formValidation');
                var $this = $(this);
                // Validate the container
                fv.validateContainer($this);
                var isValidStep = fv.isValidContainer($this);
                if (isValidStep === false || isValidStep === null) {
                    return false;
                }else if (hidden_field_validation(wizard._current) == false){
                    $('#tab-'+ wizard._current +'-alert').show();
                    return false;
                }
                $('#tab-'+ wizard._current +'-alert').hide();
                return true;
            },
            onAfterChange: function(from, to) {
                var select_office_register = $('input[name=select_office_register]').val();
                if(select_office_register === "1" && to.index === 2) {
                    if (from.index === 1) {
                        $('#registerForm').wizard('next');
                    }
                    else if (from.index === 3) {
                        $('#registerForm').wizard('back');
                    }
                }
            },
            onFinish: function() {
                $('#validation')[0].submit();
            },
        }).data('wizard');
        function hidden_field_validation(currentIndex){
            retorno = false;
            var select_office_register = $('input[name=select_office_register]').val();
            switch (currentIndex) {
                case 1:
                    if (select_office_register !== ""){retorno = true}
                    break;
                case 2:
                    if (select_office_register !== "1") {
                        $('input[id*=radio]').each(function () {
                            if ($(this).prop('checked')) {
                                retorno = true;
                            }
                        });
                    } else {retorno = true}
                    break;
                default:
                    retorno = true;
                    break;
            }
            return retorno
        }
        wizard.get('#plan_tab').setLoader(function () {
            var select_office_register = $('input[name=select_office_register]').val();
            if (select_office_register === '1'){
                return '<strong>Você está inscrito nos planos contratados pelos escritórios aos quais deseja se vincular</strong>';
            }else{
                return $('#plan_tab').html();
            }
        });
        wizard.get('#confirm_tab').setLoader(function() {
            var name = $('input[name=name]').val();
            var username = $('input[name=username]').val();
            var email = $('input[name=email]').val();
            var select_office_register = $('input[name=select_office_register]').val();
            var plan_name = $('input[name=plan_name]').val();
            $('#name').html(name);
            $('#username').html(username);
            $('#email').html(email);
            $('div[id^=select_office_register-]').addClass('hidden')
            $('#select_office_register-'+select_office_register).removeClass('hidden')
            $('#selected-plan').html('')
            switch (select_office_register) {
                case '1':
                    $('#office_list').html('')
                    $('.card-fixed').each(function (index) {
                        office_legal_name = $( this ).find("span.office-legal-name small").html();
                        office_city = $( this ).find("span#office-city").html();
                        (office_city) ? office_city = ' - ' + office_city : office_city = '';
                        $('#office_list').append(office_legal_name + office_city + '<br />')
                    });
                    $('#selected-plan').append('<strong>Você está inscrito nos planos contratados pelos escritórios aos quais deseja se vincular</strong>')
                    break;
                case '2':
                    var legal_name = $('input[name=legal_name]').val();
                    var office_name = $('input[name=office_name]').val();
                    var legal_type = $('input[name=legal_type]').val();
                    var cpf_cnpj = $('input[name=cpf_cnpj]').val();
                    $('#legal_name').html(legal_name);
                    $('#office_name').html(office_name);
                    $('#legal_type').html(legal_type);
                    $('#cpf_cnpj').html(cpf_cnpj);
                    $('#selected-plan').append(plan_name)
                    break;
                case '3':
                    $('#selected-plan').append(plan_name)
                    break;
            }
            return $('#confirm_tab').html()
          });
    })();
    </script>
    <script>
        $("#select_office_register div a").on('click', function () {
            $('.select_office_list').removeClass("selected");
            $(this).addClass("selected");
            $('input[name=select_office_register]').val($(this).data('id'));
            $('div[id^="select_office_detail_"]').addClass("hide");
            $("#select_office_detail_"+$(this).data('id')).removeClass("hide");
        });
    </script>
    <script>
        function select_office(office_id) {
            var office_input = $('#office_checkbox_'+office_id);
            var office_icon = $('#icon-'+office_id);
            var office_title = $('#title-'+office_id);
            var button_action = $('#button_action-'+office_id);
            var office_card = $('#office-'+office_id);
            office_input.trigger('click');
            if (office_input.prop("checked")){
                office_icon.removeClass('fa-check');
                office_icon.addClass('fa-times');
                office_title.html(' Remover');
                button_action.removeClass('btn-custom');
                button_action.addClass('btn-danger');
                office_card.addClass('card-fixed');
            }else{
                office_icon.removeClass('fa-times');
                office_icon.addClass('fa-check');
                office_title.html(' Selecionar');
                button_action.removeClass('btn-danger');
                button_action.addClass('btn-custom');
                office_card.removeClass('card-fixed');
            }
            $('#validation').formValidation('revalidateField', 'filter_office_legal_name');
        }
        function choose_plan(plan_button) {
            var radio_select = plan_button.dataset['select'];
            var radio_value = plan_button.dataset['value'];
            var plan_name = plan_button.dataset['name'];
            var radio_field = $('input[name='+radio_select+'][value='+radio_value+']');
            var plan_div = $('#'+radio_select+'-'+radio_value+'-box');
            var field_state = radio_field.prop('checked');
            radio_field.prop('checked', !field_state);
            $('div[id*=box]').removeClass('featured-plan');
            $('#plan_name').val(plan_name);
            if(!field_state){plan_div.addClass('featured-plan');}
        }
    </script>
{% endblock extra_scripts %}
{% block script_document_ready %}
    {% if errors %}
        {% for error in errors %}
             showToast('error', '{{ error.title }}', '{{ error.message|escape }}', 0, false);
        {% endfor %}
    {% endif %}
    $('.select2').select2();
    $('input[id^=office_checkbox_]').each(function (index) {
        if($( this ).prop("checked")){
            var office_id = $( this ).val();
            var office_card = $('#office-'+office_id);
            var office_icon = $('#icon-'+office_id);
            var office_title = $('#title-'+office_id);
            var button_action = $('#button_action-'+office_id);
            office_icon.removeClass('fa-check')
            office_icon.addClass('fa-times')
            office_title.html(' Remover')
            button_action.removeClass('btn-custom')
            button_action.addClass('btn-danger')
            office_card.addClass('card-fixed')
            office_card.removeClass('hide')
        }
    })
    $( "input[name=password]" ).blur(function() {
      $('#validation').formValidation('revalidateField', 'password')
    });
    $( "input[name=username]" ).blur(function() {
      $('#validation').formValidation('revalidateField', 'username')
    });
    $( "input[name=email]" ).blur(function() {
      $('#validation').formValidation('revalidateField', 'email')
    });
{% endblock %}
