.coverage
.cache
*.pyc
*.orig
local_settings.py
venv/
staticfiles/
luigi_targets/
celerybeat*

config/general.ini
etl/advwin_ezl/tmp/
validators/.pytest_cache/
syntax: regexp
.idea/
docker-compose.override.yml
media/
.vscode/
celeryd.pid