django==1.11.1
django-allauth==0.32
django-bootstrap3==8.2.3

# Adicionando depencência para a utilização do mecanismo de formsets
django-tables2==1.7.1

psycopg2==2.7.1
uwsgi==2.0.15
SQLAlchemy==1.0.11