{% load static %}
<style>
    .kc_fab_main_btn{
        background-color: #12897a;
        width:60px;
        height:60px;
        border-radius:100%;
        background: #129687;
        border:none;
        outline:none;
        color:#FFF;
        font-size:36px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition:.9s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        position:fixed;
        right:0;
        bottom:0;
        margin: 15px;
        z-index: 1200;
    }

    .kc_fab_main_btn > i {
        font-size: 80%;
    }

</style>
<button class="right-side-toggle  kc_fab_main_btn"><i class="ti-comments"></i></button>
{% with object.chat as chat %}
<div class="right-sidebar">
    <div>
        <div class="rpanel-title ezl-bg-{{ task.status.name|lower }} font-bold"><i class="{{ task.status.get_icon }}"></i> {{ chat.title }}
            <span> <i class="ti-close right-side-toggle"></i></span>
        </div>
        <div class="r-panel-body">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="chat-box" id="chatBox">
                        <ul class="chat-list" style="overflow: hidden;" tabindex="5005" id="messageList">
                            <div class="slimscroll">
                            {% for message in chat.messages.all %}
                                {% if message.create_user == user %}
                                    <li class="odd">
                                {% else %}
                                    <li class="">
                                {% endif %}
                                    <div class="chat-image">
                                        <div class="circle circle-sm bg-info di"><i
                                                class="fa fa-user"></i></div>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-text">
                                            <h4>{{ message.create_user }}</h4>
                                            <p>{{ message.message }}</p> <b>{{ message.create_date|date:"d/m/Y H:i" }}</b>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            </div>

                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-8">
                            <input id="inputMsg" placeholder="Digite aqui sua mensagem..." class="chat-box-input"></input>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button onclick="sendMessage('{{ chat.pk }}')" class="btn btn-success btn-circle btn-xl" type="button"><i class="fa fa-paper-plane-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}