{% extends 'inicial.html' %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    {% block css_head %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static "chat/css/chat.css" %}">
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="app">
        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <!-- Heading -->
                    <div class="row heading">
                        <div class="col-sm-3 col-xs-3 heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="http://placehold.it/50/A52A2A/fff&text={{ user|upper|slice:":2" }}"
                                     alt="User Avatar" class="img-circle"/>
                            </div>
                        </div>
{#                        <div class="col-sm-1 col-xs-1  heading-dot  pull-right">#}
{#                            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>#}
{#                        </div>#}
{#                        <div class="col-sm-2 col-xs-2 heading-compose  pull-right">#}
{#                            <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>#}
{#                        </div>#}
                    </div>
                    <!-- Heading End -->

                    <!-- SearchBox -->
{#                Necessário implementar#}
{#                    <div class="row searchBox">#}
{#                        <div class="col-sm-12 searchBox-inner">#}
{#                            <div class="form-group has-feedback">#}
{#                                <input id="searchText" type="text" class="form-control"#}
{#                                       name="searchText" placeholder="Pesquisar...">#}
{#                                <span class="glyphicon glyphicon-search form-control-feedback"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <!-- Search Box End -->
                    <!-- sideBar -->
                    <div class="row sideBar">
                        {% for chat in chats|dictsortreversed:'alter_date' %}
                            {% if chat.messages.all|length > 0 %}
                                <div class="row sideBar-body"
                                     onclick="setBoxMessage('chat-{{ chat.pk }}', '{{ chat.label }}', '{{ chat.pk }}')">
                                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                        <div class="avatar-icon">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=OS"
                                                 alt="User Avatar" class="img-circle"/></div>
                                    </div>
                                    <div class="col-sm-9 col-xs-9 sideBar-main">
                                        <div class="row">
                                            <div class="col-sm-8 col-xs-8 sideBar-name">
                                                <span class="name-meta">{{ chat.title }}</span>
                                                <br/>
                                                <span class="time-meta pull-left">{{ chat.description|default_if_none:'' }}</span>
                                            </div>
                                            <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                <span class="time-meta pull-right">{{ chat.alter_date|time }}</span>
                                                <span class="chat-badge-item badge" badge-id="{{ chat.pk }}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Sidebar End -->
                </div>
            </div>
            {% for chat in chats %}
                {% if chat.messages.all|length > 0 %}
                    {% include 'chat/chat_detail.html' %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- App One End -->
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(".heading-compose").click(function () {
            $(".side-two").css({
                "left": "0"
            });
        });

        $(".newMessage-back").click(function () {
            $(".side-two").css({
                "left": "-100%"
            });
        });

        socket = null;

        var setLastMessage = function (chat_id) {
            $("[chat-id=" + chat_id + "]").animate({scrollTop: 9999}, 1000);
        };
        var setBoxMessage = function (box_id, chat_label, chat_id) {
            chatReadMessage(chat_id, '{{ csrf_token }}');
            setLastMessage(chat_id);
            $('.conversation').hide();
            var elBox = $('#' + box_id);
            elBox.show();
            elBox.find('#comment').val(null);
            socket = new WebSocket("ws://" + window.location.host + "/ws/?label=" + chat_label);
            socket.onopen = function (data) {
                socket.send(data);
            };
            socket.onmessage = function (e) {
                var data = JSON.parse(e.data);
                setLastMessage(chat_id);
                var messagePosition = 'receiver ';
                if ('{{user}}' == data.user) {
                    messagePosition = 'sender';
                }
                var chatContent = $('[chat-id=' + chat_id + ']').find('.message-body').last();
                var blockMessage = "" +
                    "<div class='col-sm-12 message-main-" + messagePosition + "'>" +
                    "<div class='" + messagePosition + "'>" +
                    "<strong class='pull-left primary-font'>" + data.user + "</strong>" +
                    "<div class='message-text'>" + data.text + "</div>" +
                    "<span class='message-time pull-right'>" + formatDate(data.message_create_date) + "</span>" +
                    "</div>" +
                    "</div>";
                chatContent.append(blockMessage);
            };

            sendMessage = function () {
                setLastMessage();
                var el = $("#" + box_id).find('#comment');
                if (el.val().trim()) {
                    var data = JSON.stringify({
                        'text': el.val(),
                        'chat': chat_id,
                        'label': chat_label
                    });
                    socket.onopen(data);
                    el.val(null);
                }else {
                    el.val(null)
                }
            };

            $.fn.enterKey = function (fnc) {
                return this.each(function () {
                    $(this).keypress(function (ev) {
                        var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                        if (keycode == '13') {
                            fnc.call(this, ev);
                        }
                    })
                })
            };
            elBox.find('#comment').enterKey(function () {
                sendMessage();
            })
        }

    </script>
{% endblock %}