{% load static %}
<link href="{% static 'chat/css/chat-task.css' %}" rel="stylesheet">
<script src="{% static 'chat/vendor/angular/angular.js' %}"></script>
<script src="{% static 'chat/vendor/angular-ui-event/dist/event.min.js' %}"></script>
<script src="{% static 'chat/js/ng-chat-infinite-scroll.js' %}"></script>
<script src="{% static 'chat/js/app.js' %}"></script>
<script src="{% static 'chat/js/controllers/chatInternalCtrl.js' %}"></script>
<script src="{% static 'chat/js/services/chatApiService.js'%}"></script>
<script src="{% static 'chat/js/directives/chatDirective.js'%}"></script>
<script src="{% static 'chat/js/directives/chatMessagesDirective.js'%}"></script>
<style>
    .kc_fab_main_btn{
        background-color: #12897a;
        width:60px;
        height:60px;
        border-radius:100%;
        background: #129687;
        border:none;
        outline:none;
        color:#FFF;
        font-size:36px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition:.9s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        position:fixed;
        right:0;
        bottom:0;
        margin: 15px;
        z-index: 1200;
    }

    .kc_fab_main_btn > i {
        font-size: 80%;
    }

</style>

<script>
  window.user_id = {{user.pk}}
  var parent_id = false;
  var child_id = false;
  {% if object.parent  %}
    parent_id = {{object.parent.pk}};
  {%endif%}
  {% if object.get_child %}
    child_id = {{object.get_child.pk}};
  {% endif %}
</script>
{%verbatim%}
<section ng-app="app" ng-controller="chatInternalCtrl as $ctrl">
  <button class="right-side-toggle  kc_fab_main_btn" ng-click="$ctrl.getChatContacts({%endverbatim%}{{object.pk}}, {{object.chat.pk}}{%verbatim%})"><i class="ti-comments"></i></button>
  <div class="right-sidebar">
    <div>
      <div class="rpanel-title ezl-bg-open font-bold" ng-if="$ctrl.in_office_list" id="close-message">
        <i class="{{ task.status.get_icon }}"></i>
          {%endverbatim%}{{object.chat.title}}{%verbatim%}
        <span ng-click="$ctrl.slideDownSidebar()"><i class="ti-close"></i></span>
      </div>
      <div class="rpanel-title ezl-bg-open font-bold" ng-if="!$ctrl.in_office_list">
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="right-side-toggle" style="text-decoration:none; color: #FFF" ng-click="$ctrl.setListState()"><i class="fa fa-2x fa-reply"></i></a>
          </div>
          <div class="col-md-8">
            {%endverbatim%}{{object.title}}{%verbatim%}
          </div>
          <div class="col-md-1">
            <span ng-click="$ctrl.slideDownSidebar()"><i class="ti-close"></i></span>
          </div>
        </div>
      </div>
      <div class="r-panel-body" ng-if="$ctrl.in_office_list">
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="chat-box" id="chatBox">
              <div class="chat-list" style="overflow: hidden;" tabindex="5005" id="messageList">
                <div class="slimscroll" ng-if="$ctrl.in_office_list">
                  <div ng-repeat="office in $ctrl.offices track by office.name">
                    <a href="#" style="color:#000;text-decoration: none;" ng-click="$ctrl.getMessages(office.chat)" class="get-message">
                      <div class="row">
                        <div class="col-md-2">
                        <div class="er-pic" ng-if="office.logo">
                          <img ng-src="{{office.logo}}" alt="varun" width="60" class="img-circle">
                        </div>
                         <div class="er-pic circle circle-sm bg-success di" ng-if="!office.logo">
                            <img ng-src="{{office.logo}}" class="img img-responsive img-circle" ng-if="office.logo"></img>
                            <i class="fa fa-building-o"></i>
                        </div>
                        </div>
                        <div class="col-md-10 chat-title">
                          {{office.name | uppercase}}
                        </div>
                      </div>
                    </a>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="r-panel-body" ng-if="!$ctrl.in_office_list">
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="chat-box" id="chatBox">
              <ul id="scroll-bottom" class="chat-list" style="overflow: hidden;" tabindex="5005" style="height:100%">
                <div class="slimscroll">
                  <li ng-repeat="message in $ctrl.messages.messages" ng-class="$ctrl.getClass(message)">
                    <div class="chat-image">
                      <div class="circle circle-sm bg-info di">
                        <i class="fa fa-user"></i>
                      </div>
                      <div class="chat-body">
                        <div class="chat-text">
                          <h4>{{ message.create_user__username }}</h4>
                          <p>{{ message.message }}</p> <b>{{ message.create_date|date:"dd/MM/yyyy HH:mm" }}</b>
                        </div>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-8">
                {{messageToSend}}
                <input placeholder="Digite aqui sua mensagem..." class="chat-box-input" ng-model="$ctrl.messageToSend" type="text" ui-event="{ keypress: '$ctrl.onEnterKey($event)' }"/>
              </div>
              <div class="col-xs-4 text-right">
                <button class="btn btn-success btn-circle btn-xl" ng-click="$ctrl.sendMessage()" type="button"><i class="fa fa-paper-plane-o"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <chat-messages-directive ng-if="!$ctrl.in_office_list"></chat-messages-directive>
    </div>
  </div>
</section>
{%endverbatim%}
