{% extends 'inicial.html' %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    {% block css_head %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static "chat/css/chat.css" %}">
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="app">
        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <!-- Heading -->
                    <div class="row heading">
                        <div class="col-sm-3 col-xs-3 heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U"
                                     alt="User Avatar" class="img-circle"/>
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
                            <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- Heading End -->

                    <!-- SearchBox -->
                    <div class="row searchBox">
                        <div class="col-sm-12 searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control"
                                       name="searchText" placeholder="Pesquisar...">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Search Box End -->
                    <!-- sideBar -->
                    <div class="row sideBar">
                        {% for chat in chats %}
                            <div class="row sideBar-body" onclick="setBoxMessage('chat-{{ chat.pk }}')">
                                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                    <div class="avatar-icon">
                                        <img src="http://placehold.it/50/55C1E7/fff&text=U"
                                             alt="User Avatar" class="img-circle"/></div>
                                </div>
                                <div class="col-sm-9 col-xs-9 sideBar-main">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8 sideBar-name">
                                            <span class="name-meta">{{ chat.label }}</span>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                            <span class="time-meta pull-right">{{ chat.create_date|time }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Sidebar End -->
                </div>
            </div>
            {% for chat in chats %}
                <div id="chat-{{ chat.pk }}">
                    {% include 'chat/chat_detail.html' %}
                </div>
            {% endfor %}
        </div>
        <!-- App One End -->
    </div>
{% endblock %}
{% block javascript %}
    <script>
        var data = '';
        var edata = '';
        var label = "";
        $(document).ready(function () {
            $('.chat.panel-body').animate({scrollTop: 9999}, 1000);

            {% for chat in chats %}
                var label = "{{ chat.label }}";
                socket = new WebSocket("ws://" + window.location.host + "/chat/?label=" + label);
            {% endfor %}
            sendMessage = function (chatId) {
                data = JSON.stringify({
                    'text': $('#' + chatId).find('#btn-input').val(),
                    'chat': chatId,
                    'label': label
                });
                socket.onopen(data)
            };

            {# Ao chegar uma mensagem#}
            socket.onmessage = function (e) {
                $('.chat.panel-body').animate({scrollTop: 9999}, 1000);
                data = JSON.parse(e.data);
                messagePosition = 'left';
                imgChat = 'http://placehold.it/50/55C1E7/fff&text=U';
                if ('{{user}}' === data.user) {
                    messagePosition = 'right';
                    imgChat = 'http://placehold.it/50/FA6F57/fff&text=ME'
                }
                elementUl = $('[data-id=' + data.chat + ']');
                li = $($.parseHTML('<li class=" ' + messagePosition + ' clearfix"><span class="chat-img pull-' + messagePosition + '"><img src="' + imgChat + '" alt="User Avatar" class="img-circle" />'))
                divBody = $($.parseHTML('<div class="chat-body clearfix"></div>'));
                divHeader = $($.parseHTML('<div class="header"> </div>'));
                small = $($.parseHTML(''));
                {#                small = $($.parseHTML('<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>'));#}
                strong = $($.parseHTML('<strong class="pull-' + messagePosition + ' primary-font">' + data.user + '</strong>'));
                p = $($.parseHTML('<p>' + data.text + '</p>'));
                elementUl.append(li.append(divBody.append(divHeader.append(small).append(strong).append(p))))
            };
            socket.onopen = function (data) {
                socket.send(data);
            }
        });

        $(".heading-compose").click(function () {
            $(".side-two").css({
                "left": "0"
            });
        });

        $(".newMessage-back").click(function () {
            $(".side-two").css({
                "left": "-100%"
            });
        });

        var setBoxMessage = function (box_id) {
            alert(box_id)
        }
    </script>
{% endblock %}