{% load tz %}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="font-bold"><i class="fa fa-paperclip fa-2x" style="font-size: 20px "></i> Anexos </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <p class="text-center" id="no-providence">
            {% if ecms|length == 0 %}
                    Esta providência não possui nenhum arquivo em
                    anexo.
            {% endif %}
            </p>

            <div class="inbox-center table-responsive">
                <table class="table table-hover" id="files">
                    <tbody id="containnerUploads"></tbody>
                </table>
            </div>

            <!-- Janela modal para arquivos que não podem ser apagados -->
            <div id="confirmDeleteNotAllowed" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-body" style="text-align: center !important;">
                            Arquivos de sistemas legados não podem ser apagados.
                        </div>
                        <div class="modal-footer">
                            <div class="form-group text-center">
                                <button type="button" style="width: 95px!important;"
                                        class="btn btn-sm btn-raised btn-default"
                                        data-dismiss="modal">
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído o conteúdo das novas janelas modais
            a medida que for adicionando novos arquivos -->
            <div id="modals"></div>


            <!-- Janela modal para mostrar progresso do envio de arquivos -->
            <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align: center">Enviando ...</h4>
                        </div>
                        <div class="modal-body">
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-info active progress-bar-striped" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 0%" role="progressbar">
                                    0
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% if form.instance.status.name == 'ACCEPTED' or form.instance.status.name == 'DONE' or form.instance.status.name == 'RETURN' %}
            <div class="panel-footer">
                <button type="button" class="btn btn-sm btn-info js-upload-files">
                    <i class="icon-cloud-upload"></i> Enviar Arquivo(s)
                </button>

                <input id="fileupload" type="file" name="path" multiple
                       style="display: none;"
                       data-method="POST"
                       enctype="multipart/form-data"
                       data-url="{% url 'ecm_add' object.id %}"
                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
            </div>
        {% endif %}
    </div>
</div>

