{% load core_filters task_filters tz %}
{%load static%}
<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Serviço solicitado</th>
            <td id="type_task">
                {{ form.instance.type_task|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Parte adversa</th>
            <td>
                {{ form.instance.movement.law_suit.opposing_party|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Descrição do serviço</th>
            <td>
                <p class="text-justify">{{ form.instance.description.strip|default:"---" }}</p>
            </td>
        </tr>
        <tr>
            <th>Prazo</th>
            <td>
                {{ form.instance.final_deadline_date|localtime|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Solicitada em</th>
            <td>
                {{ form.instance.requested_date|localtime|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Cliente</th>
            <td>
                {{ form.instance.client|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Processo</th>
            <td>
                {{ form.instance.movement.law_suit.law_suit_number |default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Comarca</th>
            <td>
                {{ form.instance.court_district|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>UF</th>
            <td>
                {{ form.instance.court_district.state|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Cidade</th>
            <td>
                {{ form.instance.city|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Complemento da comarca</th>
            <td>
                {{ form.instance.court_district_complement|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Local de cumprimento</th>
            <td>
                {{ form.instance.performance_place|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Vara</th>
            <td>
                {{ form.instance.court_division|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Órgão</th>
            <td>
                {{ form.instance.court|default_if_none:"---" }}
            </td>
        </tr>
        <tr>
            <th>Endereço</th>
            <td>
                {{ form.instance.address|default:"---"|capfirst }}
            </td>
        </tr>
        <tr>
            <th>N° da pasta</th>
            <td>
                {{ form.instance.movement.law_suit.folder.folder_number|default_if_none:'' }}
            </td>
        </tr>
        <tr>
            <th>Centro de Custo</th>
            <td>
                {{ form.instance.movement.law_suit.folder.cost_center|default:"---" }}
            </td>
        </tr>        
        {%if request|has_group:"Supervisor" or request|has_group:"Administrador" or request.user.is_superuser%} 
            <tr>
                <th>Valor</th>
                <td>
                    {{ form.instance.amount }}
                </td>
            </tr>
            <tr>
                <th>Valor Delegado</th>
                <td>
                    <span id="amount-delegated">{{ form.instance.amount_delegated }}</span> {% if form.instance|show_edit_amount %} <button class="btn btn-link" type="button" id="task-edit-amount"><i class="fa fa-edit"> </i> Editar</button> {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Registro de atendimento</th>
            <td id="CheckinPosition">
                {% get_checkin form.instance.geolocation as checkins%}
                {% get_checkout form.instance.geolocation as checkouts %}
                {% for checkin in checkins%} 
                    {% if form.instance.person_company_representative == checkin.create_user.person%}                
                        <img src="{% static 'skeleton/images/marker-blue-32x32.png'%}"></img><strong>{{checkin.create_user.username}}</strong> Iniciou o atendimento em: {{ checkin.date|localtime }}
                    {% else %}
                        <img src="{% static 'skeleton/images/marker-red-32x32.png'%}"></img><strong>{{checkin.create_user.username}}</strong> Iniciou o atendimento em: {{ checkin.date|localtime }}
                    {% endif %}
                    ({{ checkin.position }})
                    <hr/>
                {% endfor %}
                {% for checkout in checkouts%} 
                    {% if form.instance.person_company_representative == checkout.create_user.person%}                
                        <img src="{% static 'skeleton/images/marker-blue-32x32.png'%}"></img><strong>{{checkout.create_user.username}}</strong> Finalizou o atendimento em: {{ checkout.date|localtime }}
                    {% else %} 
                        <img src="{% static 'skeleton/images/marker-red-32x32.png'%}"></img><strong>{{checkout.create_user.username}}</strong> Finalizou o atendimento em: {{ checkout.date|localtime }}
                    {% endif %}
                    ({{ checkout.position }})
                    <hr/>
                {% endfor %}
                <div class="panel panel-default">
                    <a href="#" data-perform="panel-collapse">Ver mapa</a>
                    <div class="panel-wrapper collapse" aria-expanded="false">
                        <div id="map" style="height: 400px;width: 100%;"></div>
                        <!-- Replace the value of the key parameter with your own API key. -->
                        <script>
                            function initMap() {
                                var latitude = "{{ form.instance.geolocation.all.0.latitude }}";
                                var longitude = "{{ form.instance.geolocation.all.0.longitude }}";
                                var center = {lat: parseFloat(latitude.replace(',','.')), lng: parseFloat(longitude.replace(',','.'))};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 16, center: center });
                                {% for marker in form.instance.geolocation.all %}
                                    latitude = "{{ marker.latitude }}";
                                    longitude = "{{ marker.longitude }}";
                                    var {{ marker.checkpointtype }}{{ marker.id }} = {lat: parseFloat(latitude.replace(',','.')), lng: parseFloat(longitude.replace(',','.'))};
                                    {% if form.instance.person_company_representative == marker.create_user.person%}
                                        var marker = new google.maps.Marker({ position: {{ marker.checkpointtype }}{{ marker.id }},
                                                                              icon: "{% static 'skeleton/images/marker-blue-32x32.png'%}",
                                                                              title: "{{ marker.create_user.username }}",
                                                                              map: map });
                                    {% else %}
                                        var marker = new google.maps.Marker({ position: {{ marker.checkpointtype }}{{ marker.id }},
                                                                              icon: "{% static 'skeleton/images/marker-red-32x32.png'%}",
                                                                              title: "{{ marker.create_user.username }}",
                                                                              map: map });
                                    {% endif %}                                        
                                {% endfor %}
                            }
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgCSmxoG93hw-yel6ZhAzX9F5cdn5evGw&callback=initMap"> </script>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                async function showModalEditValue (){
                                    let elAmountDelegated = $('#amount-delegated');
                                    const {value: value} = await swal({
                                      title: 'Informe o valor da ordem de serviço',
                                      input: 'text',
                                      width: '30%', 
                                      inputValue: elAmountDelegated.html(),
                                      inputClass: 'form-control money',
                                      showCancelButton: true,                                      
                                      confirmButtonText: 'Salvar',
                                      cancelButtonText: 'Cancelar',
                                      reverseButtons: true,                                      
                                      inputValidator: (value) => {
                                        return new Promise((resolve) => {
                                          if (!value) {
                                            resolve('Você precisa informar um valor!');
                                          } else {
                                            resolve();
                                          }

                                        })
                                      }
                                    });

                                    if (value) {
                                        let amount_delegated = $('.money').maskMoney('unmasked')[0];
                                        swal({
                                            title: 'Aguarde', 
                                            onOpen: ()=>{
                                                swal.showLoading()
                                            }
                                        });
                                        $.ajax({
                                            type: 'POST',
                                            url: '/providencias/task/update/amount',
                                            data: {task_id: '{{form.instance.pk}}', amount_delegated: amount_delegated},
                                            success: function (response) {
                                                elAmountDelegated.html(value)
                                                swal.close();
                                            },
                                            beforeSend: function (xhr, settings) {
                                                xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
                                            },
                                            dataType: 'json'
                                        });
                                    }
                                }

                                $('#task-edit-amount').on('click', function(event) {                                    
                                    showModalEditValue();
                                    $('.money').maskMoney({'prefix': 'R$ ', 'decimal': ',', 'thousands': '.', 'allowZero': true});
                                })
                            })
                        </script>
                    </div>
                </div>                                
            </td>
        </tr>
        </tbody>
    </table>
</div>
