<div class="white-box">
    <!-- Tabstyle start -->
    <div class="ezl-text-{{ form.instance.status.name|lower }} panel-title font-bolder font-20">
        {{ form.instance.task_number|stringformat:"05d" }} - {{ form.instance.type_task }}
        <span class="font-15 badge pull-right ezl-bg-{{form.instance.status.name|lower}} p-10"><i class="font-15 {{ form.instance.status.get_icon }}"></i> {{ form.instance.status }}</span>
    </div>
    <hr>
    <section>
        <div class="sttabs tabs-style-iconbox">
            <nav>
                <ul>
                    <li>
                        <a href="#sec-prov" class="sticon mdi mdi-archive"><span>Providência</span></a>
                    </li>
                    <li>
                        <a href="#sec-part" class="sticon mdi mdi-archive"><span>Participantes</span></a>
                    </li>                    
                    <li><a href="#sec-sis-leg" class="sticon mdi mdi-cash-multiple"><span>Dados de Origem</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="sec-prov" style="padding: 0 0 0 0">
                    {% include 'task/task_detail/data-prov.html' %}
                    <hr>
                </section>
                <section id="#sec-part" style="padding: 0 0 0 0">
                    {% if form.instance.get_child %}
                        <h3>Escritório Contratado</h3>
                    {% else %}
                        <h3>Correspondente</h3>
                    {% endif %}
                    {% if form.instance.get_child %}
                        {% include 'task/office_info.html' with office=form.instance.get_child.office %}
                    {% else %}
                        {% include 'task/person_info.html' with person=form.instance.person_executed_by %}
                    {% endif %}
                    <h3>Solicitante</h3>
                    {% if form.instance.parent %}
                        {% include 'task/office_info.html' with office=form.instance.parent.office %}
                    {% else %}
                        {% include 'task/person_info.html' with person=form.instance.person_asked_by %}
                    {% endif %}         
                    <h3>Contratante</h3>           
                    {% include 'task/person_info.html' with person=form.instance.person_distributed_by %}
                    <h3>Preposto</h3>
                    {% include 'task/person_info.html' with person=form.instance.person_company_representative %}

                </section>
                <section id="sec-sis-leg" style="padding: 0 0 0 0">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>N° da pasta</th>
                            <td>
                                {{ form.instance.movement.law_suit.folder.legacy_code|default_if_none:'' }}
                            </td>
                        </tr>
                        <tr>
                            <th>N° da OS</th>
                            <td>
                                {{ form.instance.origin_code|default_if_none:'' }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <!-- /content -->
        </div>
        <!-- /tabs -->
    </section>
    <div class="text-center align-middle">
        {% include 'task/includes/task-detail-status-buttons.html' %}
    </div>
</div>
