
.alert_sucess{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center !important;
    padding: 15px 10px 15px 10px;
}

.alert_danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center !important;
    padding: 15px 10px 15px 10px;
}

#center{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}
.breadcrumb{
    color: #212121 !important;
    font-size: small !important;
    opacity: 0.7 !important;
}

.breadcrumb::before{
    color:#212121 !important;
}

#breadcrumb{
    text-align: right !important;
    padding-right: 20px !important;
    background-color: #f6f6f6 !important;
    line-height: 40px !important;
}

h3{

    font-weight: 100 !important;

}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #000 !important;
}

.content-container{
    width: 75%;
    background-color: #fff;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}