#center{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}
.breadcrumb{
    color: #212121 !important;
    font-size: small !important;
    opacity: 0.7 !important;
}

.breadcrumb::before{
    color:#212121 !important;
}

#breadcrumb{
    text-align: right !important;
    padding-right: 20px !important;
    background-color: #f6f6f6 !important;
    line-height: 40px !important;
}

.alert.alert-error {
    background-color: #f44336;
    color: rgba(255, 255, 255, 0.84);
}

h3{

    font-weight: 100 !important;

}

.edit {

    color: red;
!important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #000 !important;
}

.content-container{
    width: 75%;
    background-color: #fff;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.checkbox-material::before {
    display: none !important;
}

.checkbox {
    margin-bottom: 0 !important;
    margin-top: 0 !important;

}

.selection {
    width: 22px !important;
}