{% extends "core/base_form.html" %}

{% load material_form %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">

        label.active {
            color: #0097a7;
        }

        .select2-container--focus .select2-selection {
            border-color: #0097a7 !important;
            /*border-bottom: 1px solid #0097a7;*/
            /*box-shadow: 0 1px 00 solid #0097a7;*/
        }

    </style>
{% endblock %}

{% block form_title %}

    {% if object %}
        {{ block.super }}
    {% else %}
        Novo endereço para {{ person }}
    {% endif %}

{% endblock %}

{% block extrajs %}
    {{ form.media }}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'select2-tab-fix.min.js' %}"></script>
{% endblock %}
