{% extends "ezl_base.html" %}

{% load core_filters %}
{% load material_form %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}
    <script src="{% static "libs/jquery-mask-plugin/jquery.mask.min.js" %}"></script>

{% endblock %}

{% block extrajs %}

    {{ block.super }}

{% endblock %}

{% block content %}
    <script language="JavaScript">
        $('#myModal').modal('show')
        var pk_list = [];

        function toggle(source) {


            checkboxes = document.getElementsByName('selection');
            for (var i in checkboxes) {

                if (checkboxes.hasOwnProperty(i)) {
                    checkboxes[i].checked = source.checked;
                    if (source.checked)
                        pk_list.push(checkboxes[i].id);
                    else
                        pk_list = []
                }
            }
            if (pk_list.length > 0) {
                document.getElementById('delete_button').disabled = false;
            } else {
                document.getElementById('delete_button').disabled = true;
            }
        }

        function showDeleteButton(source) {
            if (source.checked) {
                pk_list.push(source.id);
            } else {
                pk_list.pop();
                document.getElementById("selection_header").checked = false;
            }

            if (pk_list.length > 0)
                document.getElementById('delete_button').disabled = false;
            else
                document.getElementById('delete_button').disabled = true;

        }
    </script>

    <form id="object_form" action="" method="post">
        {{ form.management_form }}

        {% csrf_token %}

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        {% block form_title %}
                            {% with form.get_title as form_title %}
                                {% if form_title %}
                                    {{ form_title }}
                                {% else %}
                                    {% if object %}
                                        Editando {{ object }}
                                    {% else %}
                                        Novo {{ form.get_model_verbose_name }}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        {% endblock %}
                    </h1>
                </div>
                <div class="panel-body">
                    {% block form_container %}
                        {% form %}{% endform %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            {% block form_butons %}

                {% if object_list_url %}
                    {% include 'core/widgets/cancel_button.html' %}
                {% endif %}

                <button type="submit" class="btn btn-sm btn-raised btn-primary">
                    <i class="material-icons left">done</i>
                    Salvar
                </button>

            {% endblock %}

        </div>

    </form>

{% endblock content %}
