{% extends "ezl_base.html" %}

{% load core_filters %}
{% load material_form %}
{% load staticfiles %}

{% block extrajs %}

    {{ block.super }}

    <script src="{% static "libs/jquery-mask-plugin/jquery.mask.min.js" %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#id_legal_type').change(function () {
                if (this.value == 'F') {
                    $("#id_cpf_cnpj").mask('000.000.000-00', {reverse: true});
                }
                else {
                    $('#id_cpf_cnpj').mask('00.000.000/0000-00', {reverse: true});
                }
            }).change();
        })
    </script>

{% endblock %}

{% block content %}

    <form id="object_form" action="" method="post">
        {{ form.management_form }}

        {% csrf_token %}

        <di1v>
            <div>
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                {{ form.get_title }}
                            </h1>
                        </div>
                        <div class="panel-body">
                            {% form %}{% endform %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">

            {% include 'core/widgets/cancel_button.html' with link_list='person_list' %}

            <button type="submit" class="btn btn-sm btn-raised btn-primary">
                <i class="material-icons left">done</i>
                Salvar
            </button>

        </div>

    </form>

{% endblock content %}
