<div class="modal" id='new_invite'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'invite_multiple_users' %}">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <div class="row">
                        <div class="col-md-12">
                            <input type='hidden' name='office' value='{{ office }}'>
                            <label>Informe os usuários a convidar</label>
                        {% include 'skeleton/componentes/fields/typeahead.html' with placeholder='correspondentes' field_id='invite-person'  typeaurl='typeahed_person'%}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                    </button>
                    <input type="submit" class="btn btn-primary" value='Enviar convites'>
                </div>
            </form>
        </div>
    </div>
</div>
