{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'skeleton/images/favicon.png' %}">
    <title>{{ title_page }}</title>
    <!-- ============================================================== -->
    <!-- jQuery -->
    <script src="{% static 'skeleton/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap3-datetimepicker-4.17.47/js/moment.js' %}"></script>
    <script src="{% static 'libs/bootstrap3-datetimepicker-4.17.47/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap3-datetimepicker-4.17.47/js/locale-pt-br.js' %}"></script>
    <script src="{% static 'libs/bootstrap3-datetimepicker-4.17.47/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'libs/bootstrap3-datetimepicker-4.17.47/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- Stylesheets block -->
    {% block extra_stylesheets %}
        {% comment %}
            Utilize esse bloco para adicionar estilos/css em páginas
            específicas que extendem esse template
        {% endcomment %}
    {% endblock %}

    {% block stylesheets %}
        {% include 'skeleton/includes/stylesheets.html' %}
    {% endblock stylesheets %}
    <!-- End Stylesheets block -->
    <!-- ============================================================== -->
    <!-- EZL CSS -->
    <link href="{% static 'skeleton/css/ezl.css' %}" rel="stylesheet">

</head>
{% include 'skeleton/includes/stylesheets.html' %}
<style>
    .text-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .office-session-page {
        margin-top: 60px;
        padding: 0 0 60px;
        min-height: 568px;
        background: #edf1f5;
    }

    .office-session-items {
        margin-top: 20px;
    }
</style>
<body class="fix-header">
{% load static %}
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- Logo -->
                <a class="logo" href="{% url 'dashboard' %}">
                    <!-- Logo icon image, you can use font-icon also --><b>
                    <!--This is dark logo icon-->
                    <img src="{% static '/skeleton/images/admin-logo.png' %}" alt="home" class="dark-logo"/>
                    <!--This is light logo icon-->
                    <img src="{% static '/skeleton/images/admin-logo-dark.png' %}" alt="home" class="light-logo"/>
                </b>
                    <!-- Logo text image you can use text also -->
                    <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="{% static 'img/logo_ezl.png' %}" alt="home" class="dark-logo" width="140"/>
                        <!--This is light logo text-->
                            <img src="{% static 'img/logo_ezl.png' %}" alt="home" class="light-logo" width="140"/>
                     </span> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <img src="{% static 'skeleton/no-profile.jpeg' %}" alt="user-img" width="36" class="img-circle">
                        <b class="hidden-xs">{{ user }}</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li> <!-- Meu perfil -->
                            <a href="{% url 'start_user' %}">
                                <i class="mdi mdi-account"></i> Meu perfil
                            </a>
                        </li>
                        <li> <!-- LOGOUT -->
                            <a href="javascript:logout()">
                                <i class="mdi mdi-logout"></i> Logout
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
    </nav>
    <div class="office-session-page">
        <div class="container-fluid office-session-items ">
            <div class="whrite-box">
                <br/>
                <div class="alert alert-warning alert-dismissable">
                    <p>
                        <i class="fa fa-2x fa-warning"></i>
                        <strong>Selecione um escritório para trabalhar!</strong>
                    </p>
                </div>
                {% for office in request.user.person.offices.all %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <h3>{{ office.legal_name }}</h3>
                                    <p><strong>CPF/CNPJ: </strong>{{ office.cpf_cnpj | default_if_none:'' }}</p>
                                    <p></p>
                                    <button onclick="updateSession('current_office', '{{office.pk}}', '{{csrf_token}}')" class="btn btn-custom btn-rounded btn-block m-t-10"><i class="fa fa-sign-in"></i>
                                        Entrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
   {% block scripts %}
        {% include 'skeleton/includes/scripts.html' %}
        <script>
            $(document).on('ready', function() {
                jQuery('.datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy'
                });

                {% block script_document_ready %}
                    {% comment %}
                        A page can't be manipulated safely until the document is "ready." jQuery detects this state
                        of readiness for you. Code included inside $( document ).ready() will only run once the page
                        Document Object Model (DOM) is ready for JavaScript code to execute. Code included inside
                        $( window ).on( "load", function() { ... }) will run once the entire page (images or iframes),
                        not just the DOM, is ready.
                    {% endcomment %}
                {% endblock script_document_ready %}
                $(window).on('load', function(){
                    {% block script_window_load%}
                        {% comment %}
                            The load event is sent to an element when it and all sub-elements have been completely
                            loaded. This event can be sent to any element associated with a URL: images, scripts,
                            frames, iframes, and the window object.
                        {% endcomment %}
                    {% endblock script_window_load %}
                });
            })

        </script>
    {% endblock scripts %}
    {% block extra_scripts %}
        {% comment %}
            Utilize esse bloco para adicionar scripts em páginas
            específicas que extendem esse template
        {% endcomment %}
    {% endblock extra_scripts %}
    <!-- End Javascript Block  -->
    <!-- ============================================================== -->
</body>

</html>
