{% extends "skeleton/forms/base.html" %}
{% load static   %}

{% block extra_form %}
    <div class="col-sm-12">
    {% if personaddress.forms %}
        {{ personaddress.management_form }}
        {% for form in personaddress.forms %}
            {% if forloop.first %}
                <div class="row">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Endereço
                    </h1>
                </div>
            {% endif %}
            <div class="panel-body">
            {% include 'core/address_base_form.html' with form=form %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% include 'core/cpf_cnpj_mask.html' %}
{% endblock %}

{% block button_cancel %}
    {% include 'core/widgets/cancel_button.html'  with link_list='person_list' %}
{% endblock %}
{% block extra_scripts %}
    {% if view.model.use_upload %}
        <!-- UPLOADS SCRIPTS  -->
        {% include 'ecm/javascripts.html' %}

        <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
        <script src="{% static 'skeleton/plugins/bower_components/jquery.tmpl/jquery.tmpl.js' %}"></script>
        <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído os novos scripts de deleção
             a medida que for adicionando novos arquivos -->
        <div id="scripts">
        </div>
    {% endif %}
    {{ personaddress.forms.0.media }}
{% endblock %}
