{% extends 'skeleton/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-theme">
                <div class="panel-heading"> Meus dados
                    <div class="pull-right">
                        <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                        <a href="{% url 'user_update' request.user.pk %}"><i class="fa fa-edit"></i></a>
                    </div>
                </div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Nome:</strong> {{ request.user.person.legal_name }}</p>
                                <p><strong>Usuário:</strong> {{ request.user.username }}</p>
                                <p><strong>E-mail:</strong> {{ request.user.email }}</p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <strong>Permissões:</strong>
                                </p>
                                {% if request.user.groups.all.exists %}
                                    {% for permission in  request.user.groups.all %}
                                        <span class="label label-success">{{ permission.name }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="label label-danger"><i class="fa fa-warning"></i> Você não tem permissões cadastradas</span>
                                {% endif %}

                            </div>
                        </div>
                        <a class="btn btn-block btn-custom m-t-10 btn-rounded" href="/accounts/password/change/">
                            <span class="text-white">Alterar Senha</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="panel panel-theme">
                <div class="panel-heading"> Meus escritórios
                    <div class="pull-right">
                        <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                        <a href="{% url 'office_add' %}"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        {% if request.user.person.offices.all %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>NOME</th>
                                    <th>CPF/CNPJ</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for office in request.user.person.offices.all %}
                                    <tr>
                                        <td>{{ office.legal_name }}</td>
                                        <td>{{ office.cpf_cnpj | default_if_none:'' }}</td>
                                        <td><a href="/escritorios/{{ office.pk }}">
                                            <i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Você não possui relacionamento com escritórios</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="panel panel-theme">
                <div class="panel-heading"> Meus convites
                    <div class="pull-right">
                        <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                        <a href="{% url 'user_update' request.user.pk %}"><i class="fa fa-edit"></i></a>
                    </div>
                </div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        {% if request.user.person.invites.all %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Escritório</th>
                                    <th>Aceitar</th>
                                    <th>Recusar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for invite in request.user.person.invites.all %}
                                    {% if invite.status == 'N' %}
                                        <tr>
                                            <td>{{ invite.office.name }}</td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-raised btn-fab btn-fab-mini btn-success"
                                                        onclick="updateInvite('{{ invite.pk }}', 'A', '{{ csrf_token }}')">
                                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-raised btn-fab btn-fab-mini btn-danger"
                                                        onclick="updateInvite('{{ invite.pk }}', 'R', '{{ csrf_token }}')">
                                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                </tbody>
                            </table>
                            <p>Você não possui relacionamento com escritórios</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
