{% extends 'core/base_start_user.html' %}
{% load staticfiles %}
{% block content %}
        <div class="row">
            <div class="col col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-md-6">
                                <h3 class="panel-title">Meus escritórios</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if request.user.person.offices.all %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>NOME</th>
                                        <th>CNPJ</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for office in request.user.person.offices.all %}
                                    <tr>
                                        <td>{{office.name}}</td>
                                        <td>{{office.cpf_cnpj}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {%else%}
                                <p>Você não possui relacionamento com escritórios</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Meus convites</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Escritório</th>
                                    <th>Aceitar</th>
                                    <th>Recusar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Seu direito . com</td>
                                    <td>
                                        <button type="button" class="btn btn-raised btn-fab btn-fab-mini btn-success">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-raised btn-fab btn-fab-mini btn-danger">
                                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ADVOCACIA GERAL DO ESTADO DE MINAS GERAIS</td>
                                    <td>
                                        <button type="button" class="btn btn-raised btn-fab btn-fab-mini btn-success">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-raised btn-fab btn-fab-mini btn-danger">
                                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
