; Django Web Application Configuration
[django_application]
; Connection Configurations
engine = django.db.backends.postgresql
database = ezl
user = ezl
password = ezl
host = 127.0.0.1
port = 5432

; used in password_validator and debug mode
; password_validator: development (validates only min lenght = 1) or production (full validation)
; debug mode = True if development, else False
environment = development

; E-mail configurations
email_use_ssl = True
email_host = 'smtp.zoho.com'
email_port = 465
email_host_user = 'ezlawyer@mttech.com.br'
email_host_password = 'ezlmta@578'

[etl]
; indica se apaga todos os registros da tabela antes de importar (*apaga as dependencias tambem)
truncate_all_tables = False
; senha do do usuario linux responsavel por executar a etl. Este deve estar no grupo sudoers.
linux_user = ezl
linux_password = mttech
; usuario admin do django para realizar a importacao
user=2