# Django Web Application Configuration
[django_application]
# Connection Configurations
engine = django.db.backends.postgresql
database = ezl
user = ezl
password = ezl
host = 127.0.0.1
port = 5432

# development (validates only min lenght = 1) or production (full validation)
password_validator = development

# E-mail configurations
email_use_ssl = True
email_host = 'smtp.zoho.com'
email_port = 465
email_host_user = 'ezlawyer@mttech.com.br'
email_host_password = 'ezlmta@578'