/* Isto coloca scroll no modal para nao ter problema no formulario de pesquisa */
/* Important part */
.modal-dialog{
    overflow-y: initial !important;
}
.modal-body {
    overflow-y: auto !important;
    max-height: 500px;
}

.chat-list-a {
  padding: 2px !important;
}

div.chat-title {
  white-space: nowrap !important;
  width: auto !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}


.chatonline {
  overflow: scroll !important;
  height: 90% !important;
}


.chat-main-box {
  /* height: 572px; */
}
.office-card {
    height: 255px;
    position: relative;
}
.office-legal-name {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  /* Non standard for webkit */
  word-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.office-select-button {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
[data-balloon]{
  z-index: 2 !important;
}
[data-balloon]:hover::after{
  z-index: 9999 !important
}
.itemdechat{
  z-index: 1 !important;
}
