/* Isto coloca scroll no modal para nao ter problema no formulario de pesquisa */
/* Important part */
.modal-dialog{
    overflow-y: initial !important;
}
.modal-body {
    overflow-y: auto !important;
    max-height: 500px;
}

.chat-list-a {
  padding: 2px !important;
}

div.chat-title {
  white-space: nowrap !important;
  width: auto !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}


.chatonline {
  overflow: scroll !important;
  height: 90% !important;
}


.chat-main-box {
  /* height: 572px; */
}
