{% extends 'skeleton/base.html' %}
{% load core_filters %}
{% load staticfiles %}
{% block content %}
    {% include 'core/widgets/messages.html' %}
    <div>
        {#            {% if form.title == 'Pasta' %}#}
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">

                <div class="panel-heading ">
                    <i class="ti-pencil-alt"></i> {{ form.title }}
                </div>
                <br/>
                <div class="panel-body form-group">
                    <div class="row">
                        {% for field in form %}
                            <div class="form-group col-sm-4">
                                {% if  field.field.widget.input_type != 'hidden'%}
                                    <label>
                                        {{ field | append_ast_if_req | label_capitalizer}}{{ field }}
                                    </label>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="">
                        <br>
                        <div class="form-group  text-center">
                            {% if param1 and param2 %}
                                <button class="btn btn-danger waves-effect waves-light"
                                        onclick="javascript:window.open('{% url previous_page param1 param2 %}', '_self')">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
                                </button>
                            {% elif param1 %}
                                <button class="btn btn-danger waves-effect waves-light"
                                        onclick="javascript:window.open('{% url previous_page param1 %}', '_self')">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
                                </button>
                            {% else %}
                                <button class="btn btn-danger waves-effect waves-light"
                                        onclick="javascript:window.open('{% url previous_page %}', '_self')">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
                                </button>
                            {% endif %}
                            <button class="btn btn-success waves-effect waves-light" type="submit">
                                <span class="btn-label"><i class="fa fa-check"></i></span>Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form.media }}
            <script type="text/javascript" src="{% static 'select2-tab-fix.min.js' %}"></script>

        </form>
        {% include 'core/widgets/generic_search_view.html' %}
        {% include 'core/widgets/generic_form.html' with link_ex=delete link_add=create %}
    </div>
{% endblock %}
