{% extends 'skeleton/forms/base.html' %}

{% block extra_content %}
    {% if object %}
    <div class="col-sm-12">
        {% include 'core/widgets/generic_search_view.html' %}
    </div>
    <div class="col-sm-12">
        {% include 'core/widgets/generic_form.html' with link_ex=delete link_add=create %}
    </div>
    {% endif %}
{% endblock %}
{% block button_cancel %}
{% if param1 and param2 %}
    {% url previous_page param1 param2 as link %}
    <button class="btn btn-danger waves-effect waves-light" type="button"
            onclick="javascript:window.open('{{ link }}', '_self')">
    <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
    </button>
{% elif param1 %}
    {% url param1 param2 as link %}
    <button class="btn btn-danger waves-effect waves-light" type="button"
            onclick="javascript:window.open('{{ link }}', '_self')">
    <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
    </button>
{% else %}
    {% url previous_page as link %}
    <button class="btn btn-danger waves-effect waves-light" type="button"
            onclick="javascript:window.open('{{ link }}', '_self')">
    <span class="btn-label"><i class="fa fa-close"></i></span>Cancelar
    </button>
{% endif %}
{% endblock %}
