<script>
    $(function () {
        $('#{{ widget.name }}').datetimepicker({
            {#            locale: 'pt-br',#}
            tooltips: {
                selectTime: 'seleciona horas e minutos',
                selectYear: 'seleciona o ano',
                selectMonth: 'seleciona o mês',
                clear: 'Limpar data e hora'
            },
            ignoreReadonly: true,
            showClear: true,
            format: '{{ widget.format }}',
            {% if widget.min_date %}
                minDate: moment("{{ widget.min_date }}", "DD_MM_YYYY").tz("America/Sao_Paulo").format(),
            {% elif widget.value %}
                minDate: moment("{{ widget.value }}", "DD_MM_YYYY").tz("America/Sao_Paulo").format(),
            {% endif %}

            {% if widget.value %}
                date: '{{ widget.value }}',
            {% endif %}
        })
        ;
    });

    console.log(moment("{{ widget.value }}", "DD_MM_YYYY").tz("America/Sao_Paulo").format());
    console.log("{{ widget.value }}");
</script>
<span>
    <span class="form-group is-empty">
        <span class="col-sm-2 input-group date" id="{{ widget.name }}">
                <input class="form-control text-center" type="text" readonly
                       name="{{ widget.name }}" data-toggle="tooltip" data-placement="top"
                       title="Clique no ícone ao lado"
                        {% if widget.value != None %} value="{{ widget.value }}" {% endif %} />
            <span class="input-group-addon">
                <span class="material-icons event" style="color: #009688">event</span>
                    </span>
        </span>
    </span>
</span>