{#    <label>{{ widget.label_tag }}</label>#}
<script>
    $(function () {
        $('#{{ widget.name }}_0').datetimepicker({
            tooltips: {
                selectTime: 'seleciona horas e minutos',
                selectMonth: 'seleciona o mês',
                clear: 'Limpar data e hora'
            },
            ignoreReadonly: true,
            useCurrent: false,
            showClear: true,
            format: '{{widget.format}}'

        });
        $('#{{ widget.name }}_1').datetimepicker({
            {#            locale: 'pt-br',#}
            tooltips: {
                selectTime: 'seleciona horas e minutos',
                selectYear: 'seleciona o ano',
                selectMonth: 'seleciona o mês',
                clear: 'Limpar data e hora'
            },
            ignoreReadonly: true,
            useCurrent: false,
            showClear: true,
            format: '{{widget.format}}'
        });
        $('#{{ widget.name }}_0').on("dp.change", function (e) {
            $('#{{ widget.name }}_1').data("DateTimePicker").minDate(e.date);
        });
        $('#{{ widget.name }}_1').on("dp.change", function (e) {
            $('#{{ widget.name }}_0').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<div class="form-group">
    {% for widget in widget.subwidgets %}
        <span class="col-sm-2">
    <span class="form-group">
        <span class="input-group date" id="{{ widget.name }}">
                <input class="form-control text-center" type="text" readonly
                       name="{{ widget.name }}" data-toggle="tooltip" data-placement="top"
                       title="Clique no ícone ao lado"
                        {% if widget.value != None %} value="{{ widget.value }}" {% endif %} />
            <span class="input-group-addon">
                <span class="material-icons event" style="color: #009688">event</span>
            </span> {% if forloop.first %}
            <span>    à </span>
        {% endif %}
        </span>
    </span>
   </span>
    {% endfor %}
</div>