<div id="confirmDelete" class="modal">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="fa fa-trash"></i></h4>
                <h4 class="modal-title">Atenção!</h4>
            </div>
            <div class="modal-body">
                {% if on_delete == 'CASCADE' %}
                    <p>Ao excluir o(s) registro(s) de {{ form_name.title }} todos os seus vínculos também
                        serão excluídos! Essa ação é irreversível. Deseja continuar?</p>
                {% else %}
                    <p>Tem certeza que deseja excluir o(s) registro(s)
                        de {{ form_name.title }} selecionado(s)? Essa ação é irreversível. Deseja continuar?</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>