{% load static %}
{% load bootstrap3 %}   
{% load core_filters %}    

<div class="modal fade" tabindex="-1" role="dialog" id="modal-office-profile-contact-mechanism">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form enctype="multipart/form-data"  method="POST" action="{% url 'office_profile_contact_mechanism_create' office.pk%}" autocomplete="off" id="form-contact-mechanism">{% csrf_token %}              
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cadastro de forma de contato</h4>
        </div>
        <div class="modal-body">        
          <fieldset>
            <div class="row">
                {% bootstrap_field form.contact_mechanism_type form_group_class="form-group col-sm-4" %}
                {% bootstrap_field form.description form_group_class="form-group col-sm-8" %}        
            </div>
            <div class="row">
                {% bootstrap_field form.notes form_group_class="form-group col-sm-12" %}
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="checkbox checkbox-success p-t-20">
                        {{ form.is_active }}
                        {{ form.is_active.label_tag }}
                    </div>
                </div>
            </div>        
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" id="btn-save-office">Salvar</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->