{% load static %}
{% load bootstrap3 %}   
{% load core_filters %}    

<div class="modal fade" tabindex="-1" role="dialog" id="modal-office-profile-billing-details">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form enctype="multipart/form-data"  method="POST" action="{% url 'create_billing_detail' %}" autocomplete="off" id="form-billing-detail">{% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cadastro de detalhes de cobrança</h4>
        </div>
        <div class="modal-body">        
          <fieldset>
              <div class="row">
                 <div class="col-xs-6">
                    {% bootstrap_field form.card_name %}
                 </div>
                 <div class="col-xs-6">
                    {% bootstrap_field form.cpf_cnpj %}
                 </div>
              </div>
              <div class="row">
                 <div class="col-xs-6">
                     {% bootstrap_field form.birth_date %}
                 </div>
                  <div class="col-xs-6">
                      {% bootstrap_field form.email %}
                  </div>
              </div>
              <div class="row">
                 <div class="col-xs-6">
                     {% bootstrap_field form.phone_number %}
                 </div>
              </div>
              <div class="row">
                <div class="col col-xs-3">
                    {% bootstrap_field form.zip_code %}
                </div>
                <div class="col col-xs-6">
                  {% bootstrap_field form.street %}
                </div>
                <div class="col col-xs-3">
                  {% bootstrap_field form.number %}
                </div>
              </div>
              <div class="row">
                <div class="col col-xs-3">
                  {% bootstrap_field form.complement %}
                </div>
                <div class="col col-xs-3">
                  {% bootstrap_field form.city_region %}
                </div>
                <div class="col col-xs-6">
                  {% bootstrap_field form.city %}
                </div>
              </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" id="btn-save-billing-detail">Salvar</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->