{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{{ title_page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "ezl_static/core/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ezl_static/libs/toast-query/dist/jquery.toast.min.css" %}">
    <script src="{% static "ezl_static/libs/toast-query/dist/jquery.toast.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>

    <!--Menu do Easy Lawyer-->

    <!-- {% if not user.is_authenticated %} -->
        <!-- <meta http-equiv="REFRESH" content="0;url=/"> -->

        <!-- {% else %} -->
        <nav>
            <div class="nav-wrapper">

                <a href="#!" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Correspondentes</a></li>
                    <li><a href="#">Providências</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i
                            class="material-icons">person</i></a></li>
                </ul>

                <!-- Menu Mobile -->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">Correspondentes</a></li>
                    <li><a href="#">Providências</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownm1"><i class="material-icons">person</i></a>
                    </li>
                </ul>

                <!-- Menu Dropdown Usuário -->
                <ul id="dropdown1" class="dropdown-content">
                    <li>
                        <center>{{ user_name }}</center>
                    </li>
                    <li><a href="/accounts/password/change/">Alterar Senha</a></li>
                    <li class="divider"></li>
                    <li><a href="#modal1" onclick="$('#modal1').modal('open');">Sair do Sistema</a></li>
                </ul>
                <!-- Menu Dropdown Usuário Mobile -->
                <ul id="dropdownm1" class="dropdown-content">
                    <li style="margin-top: 5px;">
                        <center>{{ user_name }}</center>
                    </li>
                    <li><a href="/accounts/password/change/">Alterar Senha</a></li>
                    <li class="divider"></li>
                    <li><a href="#modal1" onclick="$('#modal1').modal('open');">Sair do Sistema</a></li>
                </ul>

                <!-- Janela modal para confirmação de saída do usuário -->
                <div id="modal1" class="modal">
                    <div class="modal-content" style="color: #212121;">
                        <div class="row">
                            <div class="col s1"><i class="large material-icons">warning</i></div>
                            <div class="col s1" style="margin-top: 7px;"><h5>Atenção</h5></div>
                        </div>
                        <li class="divider"></li>
                        <p>Você tem certeza que deseja sair do sistema ?</p>
                        <a class="tooltipped waves-effect waves-light btn modal-close"
                           style="float: right !important; margin-left: 5px;">Não</a>
                        <a class="tooltipped waves-effect waves-light btn" href="/logout/"
                           style="float: right !important; margin-bottom: 10px;">Sim</a>
                    </div>
        </nav>
        <!-- Breadcrumb -->
        <nav style="height: 30px !important; display: table !important; margin-bottom: 5%!important;">
            <div class="nav-wrapper">
                <div class="col s12" id="breadcrumb" style="color: #212121 !important;">
                    <div class="align-left">


                    </div>
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>

        </div>
        </nav>

        <script type="text/javascript">

            // Inicializa a SideBar Mobile
            $(".button-collapse").sideNav();

            // Configuração do menu dropdown do usuário
            $(".dropdown-button").dropdown({
                hover: true,
                alignment: 'bottom',
                belowOrigin: true,
                constrainWidth: false,
                outDuration: 400,
                stopPropagation: false

            });

            // Inicializa a janela modal
            $(document).ready(function () {
                $('#modal1').modal();
            });

        </script>

        <!--  {% endif %} -->

</head>
<body>
{% block content %}
{% endblock %}
</body>
