{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Material Design for Django Forms and Admin{% endblock %}</title>

    <script src="{% static "libs/jquery-3.2.17/jquery.min.js" %}"></script>
    {% include 'material/includes/material_js.html' %}
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/table-tr-link.js" %}"></script>
    <script src="{% static "js/pagination-fixed.js" %}"></script>
    <script src="{% static "js/masks.js" %}"></script>
    <script src="{% static "libs/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
    <script src="{% static "libs/bootstrap-material-design-0.5.10/js/material.min.js" %}"></script>
    <script src="{% static "libs/bootstrap-material-design-0.5.10/js/ripples.min.js" %}"></script>

    {% include 'material/includes/material_css.html' %}

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "libs/bootstrap-3.3.7/css/bootstrap.min.css" %}">
{##}
    <link rel="stylesheet" href="{% static "libs/toastr/build/toastr.min.css" %}">
{##}
    <link rel="stylesheet"
          href="{% static "libs/bootstrap-material-design-0.5.10/css/bootstrap-material-design.css" %}">
{##}
    <link rel="stylesheet" href="{% static "libs/bootstrap-material-design-0.5.10/css/ripples.css" %}">
{##}
{#    <!-- Material Design fonts -->#}
    <link rel="stylesheet" type="text/css" href="{% static "fonts/google.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/material.css" %}">
{#    <!-- Our custom style goes here -->#}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "libs/bootstrap3-datetimepicker-4.17.47/css/bootstrap-datetimepicker.css" %}">
{#    <!-- Compiled and minified JavaScript -->#}
    <script src="{% static "libs/jquery-3.2.17/jquery.min.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/table-tr-link.js" %}"></script>
    <script src="{% static "js/pagination-fixed.js" %}"></script>
    <script src="{% static "js/masks.js" %}"></script>
    <script src="{% static "libs/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
    <script src="{% static "libs/bootstrap-material-design-0.5.10/js/material.min.js" %}"></script>
    <script src="{% static "libs/bootstrap-material-design-0.5.10/js/ripples.min.js" %}"></script>
{##}
    <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/moment.js" %}"></script>
    <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/moment-timezone.min.js" %}"></script>
    <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/locale-pt-br.js" %}"></script>
    <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "libs/bootstrap-ajax-typeahead/js/bootstrap-typeahead.min.js" %}"></script>
    <script src="{% static "libs/toastr/build/toastr.min.js" %}"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "js/widget_toast.js" %}"></script>
    <script src="{% static "libs/jquery-mask-plugin/jquery.mask.min.js" %}"></script>

    {% block head %}


        {% block extrahead %}{% endblock %}
    {% endblock %}
  </head>
  <body class="valign-wrapper2">
      {% block navbar %}{% endblock %}
      <div class="{% block container_class %}container expand-on-small-only{% endblock %}">
          {% block container %}{% endblock %}
      </div>
      {% block js %}

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      {% include 'material/includes/material_js.html' %}
      <script src="{% static "js/masks.js" %}"></script>

      {% block extrajs %}{% endblock %}
      {% endblock %}
  </body>
    <script>
        $(function () {
            $.material.init();
        });
    </script>
</html>
