{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Material Design for Django Forms and Admin{% endblock %}</title>

    {% block head %}
        {% include 'material/includes/material_css.html' %}

        {% block extrahead %}{% endblock %}
    {% endblock %}
  </head>
  <body class="valign-wrapper2">
      {% block navbar %}{% endblock %}
      <div class="{% block container_class %}container expand-on-small-only{% endblock %}">
          {% block container %}{% endblock %}
      </div>
      {% block js %}
      <script src="{% static "libs/jquery-3.2.17/jquery.min.js" %}"></script>
      <script src="{% static "libs/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
      {% include 'material/includes/material_js.html' %}
      <script src="{% static "js/masks.js" %}"></script>c
      {% block extrajs %}{% endblock %}
      {% endblock %}
  </body>
</html>
