{% extends 'skeleton/base.html' %}
{% load core_filters bootstrap3 %}
{% block content %}
    {% include 'core/widgets/messages.html' %}
    <div class="panel panel-default">
        <div class="panel-heading">{% include 'skeleton/forms/form-title.html' with form=form %}</div>
        <form action="" method="post">{% csrf_token %}
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                    {% block form %}
                        {% for field in form %}
                            {% bootstrap_field field form_group_class="form-group col-sm-6"%}
                        {% endfor %}
                    {% endblock %}
            </div>
            <div class="panel-footer text-center">
                {% block form_buttons %}
                    {% block button_cancel %}
                        {% include 'core/widgets/cancel_button.html'  with link_list=link_list %}
                    {% endblock %}
                    {% block button_save %}
                        {% include 'skeleton/componentes/buttons/submit_save.html' %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
        </form>
    </div>
    {% block extra_content %}
    
    {% endblock %}
{% endblock content %}
