<!-- CONFIRMAR AÇÃO -->
<div id="modal-service-price-table" class="modal fade "
  tabindex="-1" role="alert" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog" style="min-width: 90%">
    <!-- MODAL -->  
    <div class="modal-content">
      <!-- HEADER MODAL -->
      <div id="modalHeader" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="modalTitle" class="modal-title">
          <i id="icon" class="mdi-24px"></i>
          Escolha um escritório correspondente 
        </h4>
      </div>
      <!-- END HEADER MODAL -->

      <!-- BODY MODAL -->
      <div class="modal-body p-30">
        <div class="form-group" style="margin: auto">
        </div>
      </div>
      <!-- END BODY MODAL -->

      <!-- FOOTER MODAL -->
      <div class="modal-footer">
        <button style="width: 100px!important;" class="btn btn-default" data-dismiss="modal">
          <i class="mdi mdi-close"></i> Cancelar
        </button>
        <button id="actionButton">Confirmar</button>
      </div>
      <!-- END FOOTER MODAL -->
    </div>
  </div>
</div>