<script>
    var tmplRowUpload = '<tr class="zoomInDown animated">\n' +
                        '    <td style="width: 50px;">\n' +
                        '       <div class="circle circle-sm bg-info di"> <i class="fa fa-user"></i></div>\n' +
                        '    </td>\n' +
                        '    <td>\n' +
                        '       <span class="font-bold">${user}</span><br>\n' +
                        '       <small class="text-muted">${data}</small>\n' +
                        '    </td>\n' +
                        '    <td class="text-left">\n' +
                        '       <h4><i class="fa fa-file-o"></i> ${filename}</h4>\n' +
                        '    </td>\n' +
                        '    <td class="text-right">\n' +
                        '       <button onclick="window.open(\'/media/${url}\', \'_new\')" data-toggle="tooltip" title="Baixar arquivo"  type="button" class="btn btn-info btn-outline btn-circle btn-sm m-r-5"><i class="icon-cloud-download"></i></button>\n' +
                        '       <button onclick="deleteFile(${task_id}, ${pk}, \'${filename}\')" data-toggle="modal" type="button" class="btn btn-danger btn-outline btn-circle btn-sm m-r-5"\n' +
                        '               data-type="deleteFile" data-pk="${pk}" data-filename="${filename}">\n' +
                        '           <i class="icon-trash"></i>\n' +
                        '       </button>\n'+
                        '    </td>\n' +
                        '</tr>';

    function get_ecms(task_id) {
        $.ajax({
            url: "/providencias/ajax_get_ecms/",
            data: {
                'task_id': task_id
            },
            dataType: 'json',
            success: function (data) {
                $('#containnerUploads').html('');
                $.each(data, function( index, value ) {
                    console.log( index + ": " + value.filename );
                        $.tmpl(tmplRowUpload, value).appendTo('#containnerUploads');
                })
            }
        });
    }

    function deleteFile(task_id, pk, file) {

        $.ajax({
            url: '/providencias/ecm/' + pk + '/excluir',
            dataType: 'json',

            success: function (data) {
                if (data.is_deleted) {
                    showToast('success', data.message, '', 3000, true);
                    $('#row-{{ ecm.id }}').remove();
                    $('#row-space{{ ecm.id }}').remove();
                    $('#deleting').modal('hide');
                    get_ecms(task_id)
                }
                else {
                    showToast('error', data.message, '', 0, false);
                    $('#deleting').modal('hide');
                }

                if (data.num_ged == 0) {
                    document.getElementById("no-providence").innerHTML = "Esta providência não possui nenhum arquivo em anexo.";
                }
            }
        })
    }
</script>