<ul class="nav" id="side-menu">
    <li> <!-- DASHBOARD -->
        <a href="{% url 'dashboard' %}" class="waves-effect">
            <i class="mdi mdi-av-timer fa-fw"></i>
            <span class="hide-menu">Dashboard</span>
        </a>
    </li>
    <li> <!-- DASHBOARD -->
        <a href="{% url 'task_search' %}" class="waves-effect">
            <i class="mdi mdi-magnify fa-fw"></i>
            <span class="hide-menu">Pesquisar</span>
        </a>
    </li>
    {% if 'can_access_general_data' in office_session_perms %}
    <li> <!-- CADASTROS -->
        <a href="javascript:void(0)" class="waves-effect">
            <i class="fa fa-pencil-square-o fa-fw" data-icon="v"></i>
            <span class="hide-menu">Cadastros<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            <li> <!-- CENTROS DE CUSTOS -->
                <a href="{% url 'costcenter_list' %}" target="_self">
                    <i class="fa fa-percent fa-fw"></i>
                    <span class="hide-menu">Centros de Custos</span>
                </a>
            </li>
            <li> <!-- INSTANCIAS  -->
                <a href="{% url 'instance_list' %}" target="_self">
                    <i class="fa fa-gavel fa-fw"></i>
                    <span class="hide-menu">Instâncias</span>
                </a>
            </li>
            <li> <!-- ORGAOS  -->
                <a href="{% url 'organ_list' %}" target="_self">
                    <i class="fa fa-bank fa-fw"></i>
                    <span class="hide-menu">Órgãos</span>
                </a>
            </li>
            <li> <!-- PASTAS  -->
                <a href="{% url 'folder_list' %}" target="_self">
                    <i class="fa fa-folder-open-o fa-fw"></i>
                    <span class="hide-menu">Pastas</span>
                </a>
            </li>
            <li> <!-- PESSOAS -->
                <a href="{% url 'person_list' %}" target="_self">
                    <i class="fa fa-users fa-fw"></i>
                    <span class="hide-menu">Pessoas</span>
                </a>
            </li>
            <li> <!-- TABELA DE PREÇOS -->
                <a href="{% url 'servicepricetable_list' %}" target="_self">
                    <i class="fa fa-money fa-fw"></i>
                    <span class="hide-menu">Tabela de preços</span>
                </a>
            </li>
            <li> <!-- TIPOS DE MOVIMENTAÇÃO -->
                <a href="{% url 'type_movement_list' %}" target="_self">
                    <i class="fa fa-exchange fa-fw"></i>
                    <span class="hide-menu">Tipos de Movimentação</span>
                </a>
            </li>
            <li> <!-- VARAS -->
                <a href="{% url 'courtdivision_list' %}" target="_self">
                    <i class="fa fa-sitemap fa-fw"></i>
                    <span class="hide-menu">Varas</span>
                </a>
            </li>

        </ul>
    </li>
    {% if perms.core.view_all_tasks %}
    <li>
        <a href="javascript:void(0)" class="waves-effect">
            <i class="mdi mdi-chart-bar fa-fw"></i>
            <span class="hide-menu">Relatórios<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{% url 'task_report_to_pay' %}" target="_self">
                    <i class="fa fa-dollar fa-fw"></i>
                    <span class="hide-menu">OS's a pagar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'task_report_to_receive' %}" target="_self">
                    <i class="fa fa-dollar fa-fw"></i>
                    <span class="hide-menu">OS's a receber</span>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li> <!-- ADMINISTRAÇÃO -->
        <a href="javascript:void(0)" class="waves-effect">
            <i class="fa fa-folder-o fa-fw" data-icon="v"></i>
            <span class="hide-menu">Administração<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            {% if request.user.is_superuser%}
                <li> <!-- ESCRIITORIOS -->
                    <a href="{% url 'office_list' %}" target="_self">
                        <i class="fa fa-building-o fa-fw"></i>
                        <span class="hide-menu">Escritórios</span>
                    </a>
                </li>
            {%endif%}
            <li><!-- IMPORTAÇÃO TABELA DE PREÇO -->
                <a href="{% url 'import_service_price_table' %}" target="_self">
                    <i class="fa fa-money fa-fw"></i>
                    <span class="hide-menu">Importação de Tabela de Preços</span>
                </a>
            </li>
            <li>
                <a href="{% url 'team_list' %}" target="_self">
                    <i class="fa fa-group fa-fw"></i>
                    <span class="hide-menu">Equipes</span>
                </a>
            </li>
            {% if request.user.is_superuser %}
                <li> <!-- QUESTIONARIOS -->
                    <a href="{% url 'survey_list' %}" target="_self">
                        <i class="fa fa-check-square-o fa-fw"></i>
                        <span class="hide-menu">Questionários</span>
                    </a>
                </li>
            {% endif %}
            <li> <!-- REGRAS DE ANEXOS -->
                <a href="{% url 'ecm:defaultattachmentrule_list' %}" target="_self">
                    <i class="fa fa-sliders fa-fw"></i>
                    <span class="hide-menu">Regras de Anexos</span>
                </a>
            </li>
            <li> <!-- USUARIOS -->
                <a href="{% url 'user_list' %}" target="_self">
                    <i class="fa fa-user fa-fw"></i>
                    <span class="hide-menu">Usuários</span>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li class="devider"></li>
    <li> <!-- AJUDA -->
        <a href="javascript:void(0)" class="waves-effect">
            <i class="mdi mdi-help-circle-outline fa-fw" data-icon="v"></i>
            <span class="hide-menu">Ajuda<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            <li> <!-- MANUAL DO USUARIO -->
                <a href="https://mttech.atlassian.net/wiki/spaces/PUB/pages/55738374/Manual+do+usu+rio" class="waves-effect" target="_blank">
                    <i class="mdi mdi-file-pdf fa-fw"></i>
                    <span class="hide-menu">Manual do Usuário</span>
                </a>
            </li>
            <li> <!-- SOBRE -->
                <a href="#about-modal" class="waves-effect" data-toggle="modal">
                    <i class="mdi mdi-information-outline fa-fw"></i>
                    <span class="hide-menu">Sobre</span>
                </a>
            </li>
            <li> <!-- SUPORTE -->
                <a href="http://suporte.ezlawyer.com.br" class="waves-effect" target="_blank">
                    <i class="fa fa-life-ring fa-fw"></i>
                    <span class="hide-menu">Suporte</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
