{% load static %}
{% block extra_stylesheets %} 
  
{% endblock %}

<div class="right-sidebar shw-rside" style="display: block; overflow: visible;">
  <div class="slimScrollDiv" style="position: relative; overflow: visible hidden; width: auto; height: 100%;">
    <div class="slimscrollright" style="overflow: hidden; width: auto; height: 100%;">
      <div class="rpanel-title ezl-bg-open">
        {% block right-sidebar-header %}
        
        {% endblock %} 
      </div>
      <div class="r-panel-body">
        {% block right-sidebar-body%} 
          
        {% endblock %}
      </div>
    </div>
    <div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 501.592px;"></div>
    <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
</div>

{% block 'extra_scripts' %} 
<script>
  $(document).ready(function(){    
    $('.right-sidebar').hide()
    $('.r-panel-body').slimscroll()
    $('.slimScrollDiv').css('height', '100%'); 
    $('.r-panel-body').css('height', '100%')    

    $('#right-sidebar-close').on('click', function() {
      $('.right-sidebar').hide()
    })
  })
</script> 
{% endblock %}