{% load static %}
<!-- jQuery -->
<script src="{% static 'skeleton/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'skeleton/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'skeleton/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

<!-- Menu Plugin JavaScript -->
<script src="{% static 'skeleton/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'skeleton/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'skeleton/js/waves.js' %}"></script>
<!-- Sweet-Alert  -->
<script src="{% static 'skeleton/plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'skeleton/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'skeleton/js/custom.min.js' %}"></script>
<!--Style Switcher -->
<script src="{% static 'skeleton/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<!--CORE SCRIPTS-->
<script src="{% static 'core/js/utils.js' %}"></script>
<script>
    /* show dialog do logout system */
    function logout() {
        swal({
            title: "Logout",
            text: "Tem certeza que deseja sair do sistema?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Continuar no sistema",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim, eu tenho!",
            closeOnConfirm: false
        }, function(){
            window.location.href = "{% url 'logout' %}";
        });
    }
</script>