{% load static %}
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'skeleton/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'skeleton/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

<!-- Menu Plugin JavaScript -->
<script src="{% static 'skeleton/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'skeleton/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'skeleton/js/waves.js' %}"></script>
<script src="{% static 'skeleton/plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}"></script>
<!-- Sweet-Alert  -->
<script src="{% static 'skeleton/plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'skeleton/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js' %}"></script>
<script src="{% static 'skeleton/plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
<!-- X-Editable -->
<script src="{% static 'skeleton/plugins/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'skeleton/js/custom.js' %}"></script>
<!--Style Switcher -->
<script src="{% static 'skeleton/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<!-- UPLOAD -->
<script src="{% static 'skeleton/js/jasny-bootstrap.js' %}"></script>
<!-- TYPEAHEADS -->
<script src="{% static 'skeleton/plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js' %}"></script>
<!-- JQUERY TEMPLATES -->
<script src="{% static 'skeleton/plugins/bower_components/jquery.tmpl/jquery.tmpl.js' %}"></script>
<!--CORE SCRIPTS-->
<script src="{% static 'skeleton/js/ezl.js' %}"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>
<script src="{% static 'skeleton/plugins/jquery.notify.min.js' %}"></script>
<script src="{% static 'js/table-tr-link.js' %}"></script>
<script src="{% static "js/session.js" %}"></script>
<script src="{% static "js/office.js" %}"></script>

<script>
    /* show dialog do logout system */
    function logout() {
        swal({
            title: "Logout",
            text: "Tem certeza que deseja sair do sistema?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Continuar no sistema",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim, eu tenho.",
            closeOnConfirm: false
        }, function(){
            window.location.href = "{% url 'logout' %}";
        });
    }

    {% for message in messages %}
        {% if message.tags == 'info' %}
            message_toast('{{ message.tags }}', 'Informação', '{{ message }}');
        {% elif message.tags == 'success' %}
            message_toast('{{ message.tags }}', 'Sucesso', '{{ message }}', 5000);
        {% elif message.tags == 'error' %}
            message_toast('{{ message.tags }}', 'Erro', '{{ message }}');
        {% elif message.tags == 'warning' %}
            message_toast('{{ message.tags }}', 'AvisoErro', '{{ message }}');
        {% endif %}
    {% endfor %}

    {% if is_popup %}
    $(document).ready(function(){
        var set = function(){
            $("#page-wrapper").css('min-height', '0px').css('margin', '10px 0 0 0');
        };

        $(window).ready(set);
        $(window).bind("resize", set);
    });
    {% endif %}
    function filter_office_session(office_legal_name) {
        $.ajax({
            type: 'GET',
            url: "/office_session_filter/",
            data: {
                'office_legal_name': office_legal_name,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $.each(data, function( index, value ) {
                    console.debug(value);
                    if (value.show == false){
                        $("#office-"+value.id).addClass('hide');
                    }else{
                        $("#office-"+value.id).removeClass('hide');
                    }
                })
            }
        });
    }

    var typingTimer; //timer identifier
    var doneTypingInterval = 500; //time in ms, 5 second for example

    //on keyup, start the countdown
    $('#filter_office_legal_name').keyup(function() {
      clearTimeout(typingTimer);
      if ($('#filter_office_legal_name').val) {
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
      }
    });

    //user is "finished typing," do something
    function doneTyping() {
      console.log('parei de digitar');
      filter_office_session($('#filter_office_legal_name').val())
    }


</script>