{% extends 'skeleton/forms/base.html' %}
{% load bootstrap3 static %}
{% load core_filters %}

{% block extra_stylesheets %}
    <link href="{% static 'skeleton/plugins/bower_components/multiselect/css/multi-select.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'skeleton/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}"
          rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block form %}
    <div class="row">
        {% bootstrap_field form.first_name form_group_class="form-group col-sm-4" required_css_class="ezl-required" %}
        {% bootstrap_field form.last_name form_group_class="form-group col-sm-4" required_css_class="ezl-required" %}
        {% bootstrap_field form.email form_group_class="form-group col-sm-4" required_css_class="ezl-required" %}
    </div>
    <div class="row">
        {% bootstrap_field form.office form_group_class="form-group col-sm-4" required_css_class="ezl-required" %}
        {% bootstrap_field form.username form_group_class="form-group col-sm-4" required_css_class="ezl-required" %}
        {% bootstrap_field form.password form_group_class="form-group col-sm-4" required_css_class="ezl-required" %}
    </div>
{% endblock %}


{% block button_cancel %}
    {% include 'core/widgets/cancel_button.html'  with link_list='user_list' %}
{% endblock %}

{% block extra_content %}
    <div class="white-box">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#endereco">Permissões</a></li>
        </ul>
        <div class="tab-content">
            <div id="endereco" class="tab-pane fade in active">
                <div class="row">
                    {% for office in object.person.offices.all %}
                        <div class="col-md-6">
                            <div class="panel full-panel-purple">
                                <div class="panel-heading"> <i class="fa fa-building-o fa-fw"></i>{{ office.name }}
                                </div>
                                <div class="panel-wrapper collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        <input type="text" class="form-control"
                                               id="office-group-{{ office.pk }}"
                                               data-toggle="tagsinput"
                                               office="{{ office.pk }}" placeholder="Digite a permissão!"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'core/mask_selector.html' %}
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript"
            src="{% static 'skeleton/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'skeleton/plugins/bower_components/multiselect/js/jquery.multi-select.js' %}"></script>

{% endblock %}
{% block script_document_ready %}
    $.getScript( "{% static 'core/js/input_tags_permissions.js' %}", function( data, textStatus, jqxhr ) {

    });

{% endblock %}