{% extends 'skeleton/forms/base.html' %}
{% load bootstrap3 static %}

{% block extra_stylesheets %}
    <link href="{% static 'skeleton/plugins/bower_components/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block button_cancel %}
    {% include 'core/widgets/cancel_button.html'  with link_list='user_list' %}
{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'skeleton/plugins/bower_components/multiselect/js/jquery.multi-select.js' %}"></script>
{% endblock %}
{% block script_document_ready %}
    $('#id_groups').multiSelect();
{% endblock %}