{% extends "skeleton/base.html" %}

{% load staticfiles %}

{% block extra_stylesheets %}
    <!-- <style>
            #myProgress {
                width: 100%;
                background-color: grey;
            }
            #myBar {
                width: 1%;
                height: 30px;
                background-color: green;
            }
    </style> -->
{% endblock %}

{% block content %}
    {% load staticfiles bootstrap3 %}
    
    {% include 'core/widgets/messages.html' %}
    
    <form id="import_service_price_table_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% bootstrap_field form.file_xls form_group_class="form-group col-sm-12" %}              
        </div>
        <button id="btn-submit"
            style="width: 100px!important;"
            type="button"
            onclick="showMessage()"
            class="btn btn-success waves-effect waves-light">Importar
        </button>
        
        <script>
            function showMessage()
            {                                
                var text_msg = "Ao iniciar o processo de importação de tabela de preços não será possível cancelá-lo. Deseja continuar?"                
                swal({
                        title: "Importante",
                        text: text_msg,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Sim",
                        cancelButtonText: "Não",
                        confirmButtonColor: "#DD6B55",                        
                        closeOnConfirm: false
                    }, function(isConfirm){
                        if (isConfirm) {                                                   
                            $('#import_service_price_table_form').submit();                            
                        }
                    }
                );
            } 
            
            $(document).ready(function(){
                {% if show_modal_progress %}
                    $('#progressBarImportServicePriceTableAction').modal('show');
                {% endif %}
            })
        </script>                
        
        {% include 'financial/import_service_price_table_progress_modal.html' %}
        
        {% if errors %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}
