{% load material_form %}
{% load staticfiles %}

<div class="valign-wrapper layout-row row">
    <div class="col s12 m12">
        <label for="{{ form.office.id_for_label }}">{{ form.office.label }}</label>
        {{ form.office }}
    </div>
</div>
<div class="valign-wrapper layout-row row">
    <div class="col s12 m4">
        <label for="{{ form.office_correspondent.id_for_label }}">{{ form.office_correspondent.label }}</label>
        {{ form.office_correspondent }}
    </div>
    <div class="select-field col s12 m4 required" id="{{ form.type_task.id_for_label }}_container">
        <label for="{{ form.type_task.id_for_label }}">{{ form.type_task.label }}</label>
        {{ form.type_task }}
    </div>
    <div class="col s12 m4">
        <div class="input-field col s12" id="{{ form.value.id_for_label }}_container">
            {{ form.value }}
            <label for="{{ form.value.id_for_label }}">{{ form.value.label }}</label>
        </div>
    </div>
</div>
<div class="layout-row row">
    <div class="col s12 m4">
        <label for="{{ form.client.id_for_label }}" style="position: relative;" id="select2_label">{{ form.client.label }}</label>
        {{ form.client }}
    </div>
    <div class="select-field col s12 m4" id="{{ form.state.id_for_label }}_container">
        <label for="{{ form.state.id_for_label }}">{{ form.state.label }}</label>
        {{ form.state }}
    </div>
    <div class="col s12 m4">
        <label for="{{ form.court_district.id_for_label }}" style="position: relative;" id="select2_label">{{ form.court_district.label }}</label>
        {{ form.court_district }}
    </div>
</div>

{% block extrajs %}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'select2-tab-fix.min.js' %}"></script>
{% endblock %}