{% extends "skeleton/forms/base.html" %}
{% load static %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'js/service_price_table.js' %}?rev={{request.REVIEW}}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        servicePriceTable = new ServicePriceTable('{{office_session.pk}}', {{ policy_prices_categories|safe }});
        servicePriceTable.checkValue();
    });
    </script>
{% endblock %}
{% block extra_content %}	
    {% include 'core/mask_selector.html' %}
{% endblock extra_content %}