{% extends "skeleton/forms/base.html" %}
{#{% block onsubmit %}#}
{#    return validateForm()#}
{#{% endblock %}#}
{#{% block extra_scripts %}#}
{#    {{ block.super }}#}
{#    <script>#}
{#        $('#object_form').submit( function(event) {#}
{#          var form = $('#object_form');#}
{#          $.ajax({#}
{#              type: "POST",#}
{#              url: '/ecm/anexos-padrao/verificar',#}
{#              data: form.serialize(),#}
{#              success: function (response) {#}
{#                  debugger;#}
{#                  console.log(response);#}
{#              }#}
{#          });#}
{##}
{#        });#}
{#    </script>#}
{#{% endblock extra_scripts %}#}