{% extends "skeleton/forms/base.html" %}
{% load static %}
{% block extra_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'select2-tab-fix.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            var stateSelect = $('#id_state').prop('selectedIndex');
            $('#id_state').on('change', function () {
                if (stateSelect !== $('#id_state').prop('selectedIndex')){
                    $('#id_court_district').empty()
                    stateSelect = $('#id_state').prop('selectedIndex');
                }
            })
        })
    </script>
{% endblock %}
{#{% block onsubmit %}#}
{#    return validateForm()#}
{#{% endblock %}#}
{#{% block extra_scripts %}#}
{#    {{ block.super }}#}
{#    <script>#}
{#        $('#object_form').submit( function(event) {#}
{#          var form = $('#object_form');#}
{#          $.ajax({#}
{#              type: "POST",#}
{#              url: '/ecm/anexos-padrao/verificar',#}
{#              data: form.serialize(),#}
{#              success: function (response) {#}
{#                  debugger;#}
{#                  console.log(response);#}
{#              }#}
{#          });#}
{##}
{#        });#}
{#    </script>#}
{#{% endblock extra_scripts %}#}