{% extends "skeleton/forms/base.html" %}
{% load static %}
{% block extra_form %}
{% include 'ecm/attachments.html' %}
{% endblock %}
{% block extra_scripts %}
    {{  block.super }}
<!-- UPLOADS SCRIPTS  -->
    {% include 'ecm/javascripts.html' %}

    <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/jquery.tmpl/jquery.tmpl.js' %}"></script>
    <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído os novos scripts de deleção
         a medida que for adicionando novos arquivos -->
    <div id="scripts">
    </div>

{% endblock %}
{% block script_window_load %}
    get_attachments('ecm.defaultattachmentrule', {{form.instance.pk}})
{% endblock %}