{% if 'can_distribute_tasks' in office_session_perms or 'group_admin' in office_session_perms %}
<li>
    <a href="javascript:void(0)" class="waves-effect" id="menu-batch-change-tasks">
        <i class="fa fa-exchange" data-icon="v"></i>
        <span class="hide-menu">
            Alteração em lote
        </span>
    </a>
</li>
{% endif %}

{% block extra_scripts%}
    <script type="text/javascript">
        $(document).ready(function() {

            async function showOptions (){
                let inputOptions = {};
                {% if 'can_see_tasks_from_team_members' in office_session_perms or 'group_admin' in office_session_perms %}
                inputOptions['CA'] = 'Alterar Solicitante';
                {% endif %}
                inputOptions['A'] = 'Atribuir OS';
                inputOptions['D'] = 'Delegar OS';
                inputOptions['R'] = 'Recusar OS';

                const {value: changeOption} = await swal({
                  title: 'Selecione o tipo de alteração',
                  input: 'select',
                  width: '30%', 
                  inputClass: 'form-control',
                  inputOptions: inputOptions,
                  inputPlaceholder: 'Selecione a ação desejada',
                  showCancelButton: true,
                  inputValidator: (value) => {
                    return new Promise((resolve) => {
                      if (!value) {
                        resolve('Você precisa selecionar uma opção!');
                      } else {
                        resolve();
                      }

                    })
                  }
                });

                if (changeOption && changeOption in inputOptions) {
                    window.location.href = `{% url 'batch_change_tasks' %}/${changeOption}`;
                }
            }

            $('#menu-batch-change-tasks').on('click', function(){
                showOptions();
            })
        })
    </script>
{%endblock%}